<div class="page-layout">
  <div class="container ">
    <nav aria-label="breadcrumb">
      <ol class="bg-transparent breadcrumb mb-2 p-0 small text-muted">
        <li class="breadcrumb-item"><a routerLink="/">الرئيسية</a></li>
        <li class="breadcrumb-item active" aria-current="page"> تسجيل حساب وكالة سفر </li>
      </ol>
    </nav>
    <div class="page-title">
      <h1 class="h1 text-primary"> تسجيل حساب وكالة سفر </h1>
    </div>
    <div class="bg-white p-4 border" *ngIf="isVerified">
      <div class="text-center my-5">
        <div class="suc-icon text-success mb-4" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
          <i class="far fa-fw fa-check"></i>
        </div>
        <div class="suc-ttl mb-5" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="300">
          <h2 class="mb-3">تهانينا … تم تسجيل حساب الوكالة بنجاح</h2>
          <p>
            يمكنك الان الاستمرار  واكمال عملية تسجيل بيانات وكالة السفر
          </p>
        </div>
        <div class="suc-btns" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="500">
          <a routerLink="/agency/main" class="btn btn-primary mr-4">  تسجيل بيانات الوكالة</a>
        </div>
      </div>
    </div>
  </div>
</div>
