<section class="home-banner pb-4">
  <div class="container py-0 py-lg-5 my-3 my-lg-5" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1000"
    data-aos-delay="100">


    <div class="search_box p-4 shadow bg-white my-0 my-md-4">
      <h2 class="section-title"> هنا تبدا العمرة </h2>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="" class="d-block">مسار البرنامج</label>
          <select class="form-control">
            <option> مكة والمدينة </option>
            <option> مكة فقط </option>
          </select>
        </div>
        <div class="col-md-6  form-group">
          <label for="" class="d-block"> وقت البرنامج </label>
          <input type="text" class="form-control form-date" readonly>
        </div>
        <div class="col-md-6 form-group">
          <label for="" class="d-block"> السفر من </label>
          <select name="" id="" class="form-control">
            <optgroup label="مطارات مصر">
              <option value="1">مطار القاهرة</option>
              <option value="2">مطار برج العرب</option>
              <option value="3">مطار شرم الشيخ </option>
            </optgroup>
            <optgroup label="مطارات تونس">
              <option value="4">مطار عنابة </option>
              <option value="5">مطار تونس</option>
              <option value="6">مطار قرطاج</option>
            </optgroup>
          </select>
        </div>
        <div class="col-md-6 form-group">
          <label for="" class="d-block"> نوع البرنامج </label>
          <select class="form-control">
            <option> اقتصادي </option>
            <option> 2 </option>
            <option> 3 </option>
            <option> 4 </option>
          </select>
        </div>
        <div class="col-md-12 ">
          <a routerLink="/home/packages" class="btn btn-block btn-lg btn-primary mt-2"> بحث </a>
        </div>
      </div>
    </div>



  </div>
</section>
<section class="home-features py-3 py-lg-5 mb-3 mb-lg-5  overflow-hidden">
  <div class="container">
    <div class="row mt-3 mt-lg-0">
      <div class="col-md-4 col-xl-4" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000"
        data-aos-delay="100">
        <div class="d-flex align-items-center py-2 py-lg-4">
          <i class="fal fa-fw fa-3x fa-binoculars cl-1"></i>
          <h3 class="feature-title ml-xl-3">سهولة البحث</h3>
        </div>
        <p class="pr-xl-4 pl-5 pl-md-0"> مكان واحد للبحث يحتوي على مختلف البرامج التي يمكنك الاختيار منها </p>
      </div>
      <div class="col-md-4 col-xl-4" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000"
        data-aos-delay="300">
        <div class="d-flex align-items-center py-2 py-lg-4">
          <i class="fal fa-fw fa-3x fa-thumbs-up cl-2"></i>
          <h3 class="feature-title ml-xl-3"> عروض حصرية</h3>
        </div>
        <p class="pr-xl-4 pl-5 pl-md-0"> مجموعة من العروض والخصومات الخاصة بالبرامج تراها فقط عند زوار </p>
      </div>
      <div class="col-md-4 col-xl-4" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000"
        data-aos-delay="500">
        <div class="d-flex align-items-center py-2 py-lg-4">
          <i class="fal fa-fw fa-3x fa-shield-check cl-3"></i>
          <h3 class="feature-title"> الامان والضمان</h3>
        </div>
        <p class="pr-xl-4 pl-5 pl-md-0"> نضمن لك امان عمليات الدفع ونتابع معك الاجرائات حتى وصولك بالسلامة </p>
      </div>
    </div>
  </div>
</section>

<section class="program-block mb-3 mb-lg-5">
  <div class="container" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1500" data-aos-delay="100">
    <h2 class="section-title"> برامج اقتصادية </h2>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <a href="program_details.html" class="pro-block d-block">
          <div class="row pro-top m-0">
            <div class="col-6 pro-top-content border-left">
              <img width="250"
                src="https://o.aolcdn.com/images/dims?resize=1000%2C1000%2Cshrink&image_uri=https%3A%2F%2Fs.blogcdn.com%2Fslideshows%2Fimages%2Fslides%2F761%2F286%2F6%2FS7612866%2Fslug%2Fl%2Fdeluxe-in-5-star-hotel-in-moscow-1.jpg&client=amp-blogside-v2&signature=2ab8660fcef1e433041ff43d705688dc92b689ad"
                alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في مكة 7 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span>مكة ميلينيوم</span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
            <div class="col-6 pro-top-content">
              <img width="250" src="https://i.pinimg.com/564x/ca/03/2c/ca032c01895f5f66c617791d7f18a194.jpg" alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في المدينة 3 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span>جراند ميركيور المدينة </span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
          </div>
          <div class="pro-bottom p-3">
            <h4 class="text-primary mb-2 display-4">شركة أجيليكا للسياحة
              <span>المستوى الاول </span>
            </h4>
            <p class="m-0 d-flex justify-content-between align-items-center">
              <span>من 2018/07/09 الى 2018/07/09</span>
              <span>ابتداء من
                <b> 4800 ريال</b></span>
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="program_details.html" class="pro-block d-block">
          <div class="row pro-top m-0">
            <div class="col-6 pro-top-content border-left">
              <!-- <img width="250" src="https://o.aolcdn.com/images/dims?resize=1000%2C1000%2Cshrink&image_uri=https%3A%2F%2Fs.blogcdn.com%2Fslideshows%2Fimages%2Fslides%2F761%2F286%2F6%2FS7612866%2Fslug%2Fl%2Fdeluxe-in-5-star-hotel-in-moscow-1.jpg&client=amp-blogside-v2&signature=2ab8660fcef1e433041ff43d705688dc92b689ad" alt=""> -->
              <img src="ui/images/default.jpg" alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في مكة 7 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span> مكة ميلينيوم </span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
            <div class="col-6 pro-top-content">
              <img width="250" src="https://i.pinimg.com/564x/ca/03/2c/ca032c01895f5f66c617791d7f18a194.jpg" alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في المدينة 3 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span>جراند ميركيور المدينة </span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
          </div>
          <div class="pro-bottom p-3">
            <h4 class="text-primary mb-2 display-4">مؤسسة المواسم الرائدة للسياحة
              <span>المستوى الثالث</span>
            </h4>
            <p class="m-0 d-flex justify-content-between align-items-center">
              <span>من 2018/07/09 الى 2018/07/09</span>
              <span>ابتداء من
                <b> 4800 ريال</b></span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="program-block mb-3 mb-lg-5">
  <div class="container" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1500" data-aos-delay="100">
    <h2 class="section-title"> قريب من الحرمين </h2>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <a href="program_details.html" class="pro-block d-block">
          <div class="row pro-top m-0">
            <div class="col-6 pro-top-content border-left">
              <img width="250"
                src="https://o.aolcdn.com/images/dims?resize=1000%2C1000%2Cshrink&image_uri=https%3A%2F%2Fs.blogcdn.com%2Fslideshows%2Fimages%2Fslides%2F761%2F286%2F6%2FS7612866%2Fslug%2Fl%2Fdeluxe-in-5-star-hotel-in-moscow-1.jpg&client=amp-blogside-v2&signature=2ab8660fcef1e433041ff43d705688dc92b689ad"
                alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في مكة 7 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span> مكة ميلينيوم </span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
            <div class="col-6 pro-top-content">
              <img width="250" src="https://i.pinimg.com/564x/ca/03/2c/ca032c01895f5f66c617791d7f18a194.jpg" alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في المدينة 3 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span>جراند ميركيور المدينة </span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
          </div>
          <div class="pro-bottom p-3">
            <h4 class="text-primary mb-2 display-4"> شركة أدم للسياحة
              <span>المستوى الثالث</span>
            </h4>
            <p class="m-0 d-flex justify-content-between align-items-center">
              <span>من 2018/07/09 الى 2018/07/09</span>
              <span>ابتداء من
                <b> 4800 ريال</b></span>
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="program_details.html" class="pro-block d-block">
          <div class="row pro-top m-0">
            <div class="col-6 pro-top-content border-left">
              <img width="250"
                src="https://o.aolcdn.com/images/dims?resize=1000%2C1000%2Cshrink&image_uri=https%3A%2F%2Fs.blogcdn.com%2Fslideshows%2Fimages%2Fslides%2F761%2F286%2F6%2FS7612866%2Fslug%2Fl%2Fdeluxe-in-5-star-hotel-in-moscow-1.jpg&client=amp-blogside-v2&signature=2ab8660fcef1e433041ff43d705688dc92b689ad"
                alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في مكة 7 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span> مكة ميلينيوم </span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
            <div class="col-6 pro-top-content">
              <img width="250" src="https://i.pinimg.com/564x/ca/03/2c/ca032c01895f5f66c617791d7f18a194.jpg" alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في المدينة 3 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span>جراند ميركيور المدينة </span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
          </div>
          <div class="pro-bottom p-3">
            <h4 class="text-primary mb-2 display-4">مؤسسة المواسم الرائدة للسياحة
              <span>المستوى الاول </span>
            </h4>
            <p class="m-0 d-flex justify-content-between align-items-center">
              <span>من 2018/07/09 الى 2018/07/09</span>
              <span>ابتداء من
                <b> 4800 ريال</b></span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="program-block mb-3 mb-lg-5">
  <div class="container" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1500" data-aos-delay="100">
    <h2 class="section-title"> رفاهية اعلى </h2>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <a href="program_details.html" class="pro-block d-block">
          <div class="row pro-top m-0">
            <div class="col-6 pro-top-content border-left">
              <img width="250"
                src="https://o.aolcdn.com/images/dims?resize=1000%2C1000%2Cshrink&image_uri=https%3A%2F%2Fs.blogcdn.com%2Fslideshows%2Fimages%2Fslides%2F761%2F286%2F6%2FS7612866%2Fslug%2Fl%2Fdeluxe-in-5-star-hotel-in-moscow-1.jpg&client=amp-blogside-v2&signature=2ab8660fcef1e433041ff43d705688dc92b689ad"
                alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في مكة 7 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span> مكة ميلينيوم </span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
            <div class="col-6 pro-top-content">
              <img width="250" src="https://i.pinimg.com/564x/ca/03/2c/ca032c01895f5f66c617791d7f18a194.jpg" alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في المدينة 3 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span>جراند ميركيور المدينة </span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
          </div>
          <div class="pro-bottom p-3">
            <h4 class="text-primary mb-2 display-4">ناشيونال السلام للسياحة
              <span>المستوى الثالث</span>
            </h4>
            <p class="m-0 d-flex justify-content-between align-items-center">
              <span>من 2018/07/09 الى 2018/07/09</span>
              <span>ابتداء من
                <b> 4800 ريال</b></span>
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-6 mb-4">
        <a href="program_details.html" class="pro-block d-block">
          <div class="row pro-top m-0">
            <div class="col-6 pro-top-content border-left">
              <img width="250"
                src="https://o.aolcdn.com/images/dims?resize=1000%2C1000%2Cshrink&image_uri=https%3A%2F%2Fs.blogcdn.com%2Fslideshows%2Fimages%2Fslides%2F761%2F286%2F6%2FS7612866%2Fslug%2Fl%2Fdeluxe-in-5-star-hotel-in-moscow-1.jpg&client=amp-blogside-v2&signature=2ab8660fcef1e433041ff43d705688dc92b689ad"
                alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في مكة 7 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span>جراند ميركيور المدينة </span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
            <div class="col-6 pro-top-content">
              <img width="250" src="https://i.pinimg.com/564x/ca/03/2c/ca032c01895f5f66c617791d7f18a194.jpg" alt="">
              <div class="pro-top-title">
                <p class="mb-1 small text-light">الاقامة في المدينة 3 ليالي </p>
                <h6 class="mb-1 text-white">
                  <span>جراند ميركيور المدينة </span>
                  <span class="d-inlin-block px-2 small">
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                    <i class="fal  fa-star text-warning"></i>
                  </span>
                </h6>
              </div>
            </div>
          </div>
          <div class="pro-bottom p-3">
            <h4 class="text-primary mb-2 display-4"> شركة الواحات للسياحة
              <span>المستوى الثالث</span>
            </h4>
            <p class="m-0 d-flex justify-content-between align-items-center">
              <span>من 2018/07/09 الى 2018/07/09</span>
              <span>ابتداء من
                <b> 4800 ريال</b></span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="newsletter mb-3 mb-lg-5">
  <div class="container" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
    <div class="bg-dark newsletter-inner p-4 round">
      <div class="row pt-2">
        <div class="col-lg-4">
          <h3 class="mb-3 text-light"> اشترك في نشرتنا الاخبارية </h3>
          <p class="text-white">لتصلك آخر العروض المتميزة الى بريدك الالكتروني</p>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-5 form-group">
              <label for="" class="form-label">الاسم</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-5 form-group">
              <label for="" class="form-label">البريد الالكتروني</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-2 form-group pt-0 pt-md-4">
              <a href="#submit" class="btn btn-primary   btn-block mt-2 px-0 text-center"> <span>اشترك</span> </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
