<div class="page-layout">
  <div class="container ">
    <nav aria-label="breadcrumb">
      <ol class="bg-transparent breadcrumb mb-2 p-0 small text-muted">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">الرئيسية</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/profile/programs']">برامج العمرة</a></li>
        <li class="breadcrumb-item active" aria-current="page"> إنشاء برنامج عمرة جديد </li>
      </ol>
    </nav>
    <div class="page-title">
      <h1 class="h1 text-primary"> إنشاء برنامج عمرة جديد </h1>
    </div>
    <div class="page-inner ">
      <div class="text-center my-5">
        <div class="suc-icon text-success mb-5" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000"
          data-aos-delay="100">
          <i class="far fa-fw fa-check"></i>
        </div>
        <div class="suc-ttl mb-5" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000"
          data-aos-delay="300">
          <h2 class="mb-3"> تهانينا … تم انشاء برنامج العمرة بنجاح </h2>
          <p>
            قم بتأكيد نشر البرنامج لعرضه في البوابة
          </p>
        </div>
        <div class="suc-btns mt-4" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000"
          data-aos-delay="500">
          <a (click)="submit()" class="btn btn-hover btn-outline-primary mr-4">
            برامج العمرة</a>
          <a (click)="navigate()" class="btn btn-hover btn-outline-primary"> انشاء برنامج عمرة جديد </a>
        </div>
      </div>
    </div>
  </div>
</div>