<div class="page-layout">
  <div class="container ">
    <nav aria-label="breadcrumb">
      <ol class="bg-transparent breadcrumb mb-2 p-0 small text-muted">
        <li class="breadcrumb-item"><a href="index.html">الرئيسية</a></li>
        <li class="breadcrumb-item"><a uhref="Search_results.html"> ادارة برامج العمرة </a></li>
        <li class="breadcrumb-item active" aria-current="page"> عمرة رمضان شركة الواحات للسياحة </li>
      </ol>
    </nav>
    <div class="page-title">
      <h1 class="h1 text-primary"> اضافة باقة جديد </h1>
    </div>
    <div class="page-inner  overflow-hidden">
      <div class="border-bottom mb-4 mx-n4 px-4 pb-3">
        <div class="wizard-control">
          <ul class="d-flex justify-content-center flex-column flex-md-row ">
            <li class="nav-item ">
              <div class="nav-link">
                <span class="wizard-tabs-number">1</span> <span class="wizard-tabs-title"> البيانات الاساسية </span>
              </div>
            </li>
            <li class="nav-item active">
              <div class="nav-link">
                <span class="wizard-tabs-number">2</span> <span class="wizard-tabs-title"> المجموعة والمطوف </span>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link">
                <span class="wizard-tabs-number">3</span> <span class="wizard-tabs-title"> بيانات الغرف </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link">
                <span class="wizard-tabs-number">4</span> <span class="wizard-tabs-title"> تأكيد البيانات </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="wizard-details">
        <form [formGroup]="groupForm" (ngSubmit)="createGroup()">
          <section>
            <div class="row mb-5">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label class="d-block col-form-label"> اسم المطوف </label>
                      <input type="text" class="form-control" formControlName="mutawefName">
                      <em
                        *ngIf="groupForm.get('mutawefName').hasError('required') && groupForm.get('mutawefName').dirty">
                        هذا الحقل إجباري
                      </em>
                      <em *ngIf="!groupForm.get('mutawefName').hasError('required') &&
                                  groupForm.get('mutawefName').hasError('maxlength') &&
                                  groupForm.get('mutawefName').dirty">
                        حد اقصي 50 حرف
                      </em>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label class="d-block col-form-label"> رقم جوال المطوف </label>
                      <div class="input-group custom-dropdown dropdown">
                        <input type="tel" formControlName="mutawefPhone" class="form-control"
                          aria-label="Text input with dropdown button">
                      </div>
                      <em *ngIf="groupForm.get('mutawefPhone').hasError('required')
                        && groupForm.get('mutawefPhone').dirty">
                        هذا الحقل إجباري
                      </em>
                      <em *ngIf="!groupForm.get('mutawefPhone').hasError('required') &&
                            groupForm.get('mutawefPhone').hasError('pattern') &&
                            groupForm.get('mutawefPhone').dirty">
                        ارقام فقط
                      </em>
                      <em *ngIf="!groupForm.get('mutawefPhone').hasError('required') &&
                                 !groupForm.get('mutawefPhone').hasError('pattern') &&
                                  groupForm.get('mutawefPhone').hasError('maxlength') &&
                                  groupForm.get('mutawefPhone').dirty">
                        حد اقصي 20 رقم
                      </em>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label class="d-block col-form-label"> اسم قائد المجموعة </label>
                      <input type="text" class="form-control" formControlName="groupLeadName">
                      <em
                        *ngIf="groupForm.get('groupLeadName').hasError('required') && groupForm.get('groupLeadName').dirty">
                        هذا الحقل إجباري
                      </em>
                      <em *ngIf="!groupForm.get('groupLeadName').hasError('required') &&
                                  groupForm.get('groupLeadName').hasError('maxlength') &&
                                  groupForm.get('groupLeadName').dirty">
                        حد اقصي 50 حرف
                      </em>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label class="d-block col-form-label"> رقم جوال قائد المجموعة </label>
                      <input type="tel" class="form-control" formControlName="groupLeadPhone">
                      <em
                        *ngIf="groupForm.get('groupLeadPhone').hasError('required') && groupForm.get('groupLeadPhone').dirty">
                        هذا الحقل إجباري
                      </em>
                      <em *ngIf="!groupForm.get('groupLeadPhone').hasError('required') &&
                            groupForm.get('groupLeadPhone').hasError('pattern') &&
                            groupForm.get('groupLeadPhone').dirty">
                        ارقام فقط
                      </em>
                      <em *ngIf="!groupForm.get('groupLeadPhone').hasError('required') &&
                                 !groupForm.get('groupLeadPhone').hasError('pattern') &&
                                 groupForm.get('groupLeadPhone').hasError('maxlength') &&
                                 groupForm.get('groupLeadPhone').dirty">
                        حد اقصي 20 رقم
                      </em>
                      <em *ngIf="groupForm.get('groupLeadPhone').hasError('checkPhoneNumber')">
                        رقم جوال قائد المجموعة مطابق رقم جوال المطوف
                      </em>
                      <!-- <em *ngIf="checkPhoneNumbers()">
                        {{checkPhoneNumbers()}}
                      </em> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 offset-lg-1  text-center   pt-3">
                <div class="mk-custom-file-upload py-5 mb-1">
                  <p class="text-primary display-2"> <i class="fal fa-2x fa-fw fa-upload"></i></p>
                  <p class="text-primary display-4"> رفع صورة المطوف </p>

                  <input type="file" multiple class="gallery-photo-add" (change)="matwafChange($event)">
                  <div class="upload-gallery full">
                    <div *ngFor="let upload of uploads">
                      <p> Progress: {{upload.percentage | async}}</p>
                    </div>
                  </div>
                  <p class="text-light small m-0">
                    الحجم المفضل
                    <span> 200px X 200px</span> </p>
                </div>
                <a type="button" (click)="openModal(template)">
                  <h4>
                    صوره المطوف
                  </h4>
                  <i style="width: 7rem; font-size: 2.6rem;" class="fa fa-desktop"></i>
                </a>
    
                <ng-template #template>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">صورة المطوف </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row justify-content-center" *ngIf="matwafImage">
                      <div *ngFor="let item of matwafImage">
                        <p><img width="100" height="100" [src]="item.url" class="mr-3"/></p>
                      </div>
                    </div>
                  </div>
                </ng-template>
    
              </div>
            </div>

          </section>
          <div class="btn-group mt-5">
            <a class="btn btn-default px-0" (click)="deleteMatwaf()"> الغاء </a>
            <div>
              <a class="btn btn-outline-primary ml-3" (click)="back()">السابق</a>
              <button *ngIf="!selectedGroup" class="btn btn-primary ml-3" [disabled]="!groupForm.valid">التالي</button>
              <button *ngIf="selectedGroup" (click)="updatePackageMatwaf()" class="btn btn-secondary ml-3">
                تعديل
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>