<div class="page-layout">
  <div class="container ">
    <nav aria-label="breadcrumb">
      <ol class="bg-transparent breadcrumb mb-2 p-0 small text-muted">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">الرئيسية</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/profile/programs']"> ادارة برامج العمرة </a></li>
        <li class="breadcrumb-item active" aria-current="page"> {{program.programName}} </li>
      </ol>
    </nav>
    <div class="page-title">
      <h1 class="h1 text-primary"> اضافة باقة جديد </h1>
    </div>
    <div class="page-inner  overflow-hidden">
      <div class="border-bottom mb-4 mx-n4 px-4 pb-3">
        <div class="wizard-control">
          <ul class="d-flex justify-content-center flex-column flex-md-row ">
            <li class="nav-item ">
              <div class="nav-link">
                <span class="wizard-tabs-number">1</span> <span class="wizard-tabs-title"> البيانات الاساسية </span>
              </div>
            </li>
            <li class="nav-item ">
              <div class="nav-link">
                <span class="wizard-tabs-number">2</span> <span class="wizard-tabs-title"> المجموعة والمطوف </span>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link">
                <span class="wizard-tabs-number">3</span> <span class="wizard-tabs-title"> بيانات الغرف </span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link">
                <span class="wizard-tabs-number">4</span> <span class="wizard-tabs-title"> تأكيد البيانات </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="wizard-details">

        <section id="essential">
          <h3 class="text-primary"> البيانات الاساسية </h3>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> المطار الداخلي </label>
                {{package.internalAirPort}}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> تاريخ الانطلاق </label>
                {{package.packageDepartureDate}}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> تاريخ العودة </label>
              </div>
              {{package.packageReturnDate}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> موسم العمرة </label>
                {{package.umrahSeasonName}}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> سعة الباقة </label>
                {{package.packageCapacity}}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> عدد مقاعد السفر </label>
                {{package.packageAvailableSeats}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> خط سير الرحلة </label>
                {{package.directionName}}
              </div>
            </div>
            <!-- <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label">هل هناك عرض على الباقة</label>
              </div>
            </div> -->
          </div>
        </section>
        <hr class="my-4 mx-n4">
        <section id="groups">
          <h3 class="text-primary"> المجموعة والمطوف </h3>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> اسم المطوف </label>
                    {{package.mutawefName}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> رقم جوال المطوف </label>
                    {{package.mutawefPhone}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> اسم قائد المجموعة </label>
                    {{package.groupLeadName}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> رقم جوال قائد المجموعة </label>
                    {{package.groupLeadPhone}}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-lg-3 offset-lg-1  text-center   pt-3">
              <div class="mb-3">
                <a type="button" (click)="openModal(template)">
                  <h4>
                    صوره المطوف
                  </h4>
                  <i style="width: 7rem; font-size: 2.6rem;" class="fa fa-desktop"></i>
                </a>

                <ng-template #template>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">صورة المطوف </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div *ngIf="matwafImage">
                      <div class="row justify-content-center">
                        <div *ngFor="let item of package.matwafImage">
                          <p><img width="100" height="100" [src]="item.url" class="mr-3" /></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </section>
        <hr class="my-4 mx-n4">
        <section id="rooms">
          <h3 class="text-primary"> بيانات الغرف </h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>نوع الغرف </th>
                  <th>السعر للبالغين </th>
                  <th> السعر للاطفال </th>
                  <th> السعر للرضع </th>
                  <th>العدد المتوفر</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{package.roomTypeName}}</td>
                  <td>{{package.roomPriceAdult}}</td>
                  <td>{{package.roomPriceKids}}</td>
                  <td>{{package.roomTypeInfants}}</td>
                  <td>{{package.roomQuantity}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <div class="btn-group mt-5">
          <a class="btn btn-default px-0"> الغاء </a>
          <div>
            <a class="btn btn-outline-primary ml-3" (click)="back()">السابق</a>
            <a class="btn btn-primary ml-3" (click)="confirm()">اضافة الباقة</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>