<div class="page-layout">
  <div class="container ">
    <nav aria-label="breadcrumb">
      <ol class="bg-transparent breadcrumb mb-2 p-0 small text-muted">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">الرئيسية</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/profile/programs']"> ادارة برامج العمرة </a></li>
      </ol>
    </nav>
    <div class="page-title">
      <h1 class="h1 text-primary"> اضافة اتجاه عمره </h1>
    </div>
    <div class="page-inner">
      <div class="wizard-details">
        <form [formGroup]="umrahDirectionForm" (ngSubmit)="addUmrahDirection()">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <label for=""> اضافة اتجاه عمره جديد </label>
              <input type="text" class="form-control" formControlName="name">
            </div>
          </div>
          <div class="row justify-content-center mt-2">
            <button class="btn btn-primary text-center" [disabled]="!umrahDirectionForm.valid" type="submit">اضافة</button>
          </div>
        </form>
        <div *ngFor="let item of umrahDirections |  paginate: { itemsPerPage: 2, currentPage: page}"
          class="d-flex justify-content-between">
          <div style="width: 100%;">
            <ul class="list-group mt-2">
              <li class="list-group-item">
                {{item.name}}
              </li>
              <div *ngIf="itemToEdit?.id == item?.id && editState">
                <form (ngSubmit)="updateSingleItem(item)">
                  <input type="text" class="form-control" [(ngModel)]="item.name" name="name">
                  <button type="submit" class="btn">
                    <i class="fa fa-pen-alt"></i>
                  </button>
                </form>
              </div>
            </ul>
          </div>
          <div class="row">
            <a class="table-action text-danger mt-3" (click)="deleteItem(item)">
              <i class="fas fa-trash"></i>
            </a>
            <a class="mr-1" (click)="updateItem(item)">
              <i class="fas fa-pencil"></i>
            </a>
          </div>
        </div>
        <pagination-controls (pageChange)="page = $event" maxSize="5"></pagination-controls>
      </div>
    </div>
  </div>
</div>