<header class="header">
  <div id="mySidenav" class="sidenav column">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <a [routerLink]="['/profile/programs']" (click)="closeNav()">برامج العمرة</a>
    <a [routerLink]="['/agency/request-list']" (click)="closeNav()">وكالات السفر</a>
    <a [routerLink]="['/package/edit']" (click)="closeNav()">الباقات</a>
    <a [routerLink]="['/home/dashboard']" (click)="closeNav()">رسوم بيانيه</a>
    <li class="dropdown">
      <a class="dropbtn">
        الاعدادات
      </a>
      <div class="dropdown-content">
        <a [routerLink]="['/agency/add-country']" (click)="closeNav()"> الدول</a>
        <a [routerLink]="['/agency/add-city']" (click)="closeNav()"> المدن</a>
        <a [routerLink]="['/agency/add-category']" (click)="closeNav()"> تصنيف الوكالات</a>
        <a [routerLink]="['/program/programCategory']" (click)="closeNav()">تصنيفات البرامج</a>
        <a [routerLink]="['/program/hotel-star']" (click)="closeNav()">نجوم الفنادق</a>
        <a [routerLink]="['/program/transport-way']" (click)="closeNav()">طريقه التنقل</a>
        <a [routerLink]="['/program/airplane']" (click)="closeNav()"> شركه الطيران</a>
        <a [routerLink]="['/package/umrah-season']" (click)="closeNav()"> موسم العمرة</a>
        <a [routerLink]="['/package/umrah-direction']" (click)="closeNav()"> اتجاه الرحله</a>
        <a [routerLink]="['/package/internal-airport']" (click)="closeNav()"> المطار الداخلي</a>
        <a [routerLink]="['/package/room-type']" (click)="closeNav()"> نوع الغرفه</a>
      </div>
    </li>
    <a (click)="logOut()">تسجيل خروج</a>
  </div>
  <div class="d-sm-block mr-3 sidebar">
    <span style="font-size:30px;" class="ml-5 d-flex justify-content-end" (click)="openNav()">&#9776;</span>
  </div>

  <div class="container ">
    <!-- <button class="con navbar-toggle" type="button">
      <div class="bar top"></div>
      <div class="bar middle"></div>
      <div class="bar bottom"></div>
    </button> -->

    <div class="d-flex header-inner ">
      <a class="logo" routerLink="/">
        <h1 class="d-none"> زوار </h1>
        <img src="assets/images/Logo.png" alt="Zowar">
      </a>
      <div class="main-nav py-4">
        <ul class="d-flex top-nav  p-0 m-0">
          <li *ngIf="isLoggedIn">
            <a routerLink="/profile" class="d-block mr-3 ">
              <i class="fal fa-fw fa-file-alt mr-2 "></i>
              <span> حساب وكالة السفر</span>
            </a>
          </li>
          <li *ngIf="isLoggedIn">
            <a [routerLink]="['/profile/programs']" class="d-block mr-3 ">
              <i class="fal fa-fw fa-cubes mr-2 "></i>
              <span> برامج العمرة </span>
            </a>
          </li>
          <li *ngIf="!isLoggedIn">
            <a class="d-block mr-3 ">
              <i class="fal fa-fw fa-thumbs-up mr-2 "></i>
              <span>العروض الخاصة</span>
            </a>
          </li>
          <li *ngIf="!isLoggedIn">
            <a class="d-block mr-3 ">
              <i class="fal fa-fw fa-history mr-2 "></i>
              <span>آخر عمليات البحث </span>
            </a>
          </li>
        </ul>
        <ul class="d-flex side-nav p-0 m-0">
          <li *ngIf="!isLoggedIn">
            <a routerLink="./agency/register" class="btn btn-outline-dark btn-sm mr-3"> اعرض برنامجك معنا </a>
          </li>
          <li class="dropdown">
            <a href="javascript:;" class="btn btn-outline-dark btn-sm mr-3 dropdown-toggle px-2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="pl-2">
                SAR |
                تونس
                <img src="assets/images/flags/tunis.svg" alt="tunis flag" class="d-none d-md-inline ml-2">
              </span>
              <i class="fal fa-fw fa-1x fa-angle-down"></i>
            </a>
            <div class="dropdown-menu ">
              <div class="d-flex form-group justify-content-between">
                <label for="" class="w-50"> العملة </label>
                <select class="form-control form-control-sm">
                  <option> ريال سعودي </option>
                  <option> دولار </option>
                  <option> يورو </option>
                  <option> يوان صيني </option>
                </select>
              </div>
              <div class="d-flex form-group justify-content-between">
                <label for="" class="w-50"> الدولة </label>
                <select class="form-control form-control-sm">
                  <option> تونس </option>
                  <option> مصر </option>
                  <option> السودان </option>
                  <option> المغرب </option>
                </select>
              </div>
              <div class="d-flex form-group justify-content-between">
                <!-- <a href="#f" class="btn btn-outline-light btn-sm mr-3 toggle-lang" >  ENGLISH  </a> -->
                <label for="" class="w-50"> اللغة </label>
                <select class="form-control form-control-sm toggle-lang">
                  <option> Arabic </option>
                  <option> English </option>
                  <!-- <option> German    </option>   -->
                </select>
              </div>
              <a href="javascript:;" class="btn btn-block btn-outline-primary btn-sm  px-2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> موافق </a>
            </div>
          </li>
          <li class="dropdown username" *ngIf="isLoggedIn">
            <a href="javascript:;" class="btn btn-outline-dark btn-sm mr-3 dropdown-toggle px-2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fal fa-fw fa-1x fa-user"></i>
              <span> {{user.user.email}} </span>
              <i class="fal fa-fw fa-1x fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu p-0 m-0 ">
              <li class="p-2 small"><a class=""> ملف المستخدم </a></li>
              <li class="p-2 small"><a (click)="logOut()" class="text-danger"> تسجيل الخروج</a></li>
            </ul>
          </li>
          <!-- <li *ngIf="isLoggedIn">
            <a routerLink="/auth/logout" class="btn btn-outline-dark btn-sm "> تسجيل خروج </a>
          </li> -->
          <li *ngIf="!isLoggedIn">
            <a routerLink="/auth/login" class="btn btn-outline-dark btn-sm "> تسجيل دخول </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>