<div class="page-layout" *ngIf="program">
  <div class="container ">
    <nav aria-label="breadcrumb">
      <ol class="bg-transparent breadcrumb mb-2 p-0 small text-muted">
        <li class="breadcrumb-item"><a href="index.html">الرئيسية</a></li>
        <li class="breadcrumb-item"><a href="Search_results.html">برامج العمرة </a></li>
      </ol>
    </nav>
    <div class="page-title  d-flex justify-content-between align-items-md-center mb-4 flex-column flex-md-row">
      <h1 class="text-primary mb-2">
        {{program.programName}}
      </h1>
      <button (click)="createNewPackage()" class="btn btn-outline-primary btn-hover"> اضافة باقة <i
          class="fal fa-plus fa-fw"></i></button>
    </div>
    <div class="bg-white shadows px-4 pb-4 border" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000"
      data-aos-delay="100">
      <ul class="border-bottom f-tabs mb-4  mx-n4 nav nav-tabs pb-1 sticky-top">
        <li class="nav-item" role="tablist">
          <a class="nav-link active" href="#essential">البيانات الاساسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#iqama"> تفاصيل الاقامة </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#transportations"> تفاصيل التنقل </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#places"> تفاصيل الزيارات </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#packages"> تفاصيل الباقات </a>
        </li>
      </ul>
      <section id="essential">
        <div class="mb-5 mt-n4 mx-n4 program-banner">
          <img src="assets/images/program-banner.jpg" alt="program banner">
        </div>
        <h3 class="text-primary"> البيانات الاساسية </h3>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> اسم البرنامج </label>
              {{program.programName}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> عام العمرة </label>
              {{program.programUmrahYear}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> تصنيف البرنامج </label>
              {{program.categoryName}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> سعر البرنامج (يبدأ من) </label>
              {{program.programPrice}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <label class="d-block col-form-label"> وصف البرنامج </label>
              {{program.programDesc}}
            </div>
          </div>
        </div>
      </section>

      <hr class="my-4 mx-n4">
      <section>
        <h3 class="text-primary"> الاقامة في مكة </h3>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <label class="d-block col-form-label"> اسم الفندق </label>
              {{program.hotelName}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> نجوم الفندق </label>
              {{program.hotelStar}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> المسافة من الحرم </label>
              {{program.distanceFromHaram}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> مدة الاقامة </label>
              {{program.hotelNights}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <label class="d-block col-form-label"> الوجبات المتوفرة في الفندق </label>
              <span *ngIf="program.breakfastAvailable">
                فطور
              </span>
              <span *ngIf="program.lunchAvailable">
                غداء
              </span>
              <span *ngIf="program.dinnerAvailable">
                عشاء
              </span>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="program.breakfastAvailable">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> هل الفطور مشمول مجانا في البرنامج ؟
              </label>
              <span *ngIf="program.breakfastIncluded">
                نعم
              </span>
              <span *ngIf="!program.breakfastIncluded">
                لا
              </span>
            </div>
          </div>
          <div class="col-md-4" *ngIf="program.breakfastDetails">
            <div class="form-group">
              <label class="d-block col-form-label"> تفاصيل وجبة الفطور </label>
              {{ program.breakfastDetails}}
            </div>
          </div>
          <div class="col-md-4" *ngIf="!program.breakfastIncluded">
            <div class="form-group ">
              <label class="d-block col-form-label"> سعر الفطور ( لليوم الواحد ) </label>
              {{program.breakfastPrice}}
            </div>
          </div>
        </div>
        <div class="row" *ngIf="program.lunchAvailable">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> هل الغداء مشمول مجانا في البرنامج
              </label>
              <span *ngIf="program.lunchIncluded">
                نعم
              </span>
              <span *ngIf="!program.lunchIncluded">
                لا
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> تفاصيل وجبة الغداء </label>
              {{program.lunchDetails}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> سعر الغداء ( لليوم الواحد ) </label>
              {{program.lunchPrice}}
            </div>
          </div>
        </div>
        <div class="row" *ngIf="program.dinnerAvailable">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> هل العشاء مشمول مجانا في البرنامج ؟
              </label>
              <span *ngIf="program.dinnerIncluded">
                نعم
              </span>
              <span *ngIf="!program.dinnerIncluded">
                لا
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> تفاصيل وجبة العشاء </label>
              {{program.dinnerDetails}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> سعر العشاء ( لليوم الواحد ) </label>
              {{program.dinnerPrice}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- <div class="form-group ">
              <label class="d-block col-form-label"> صور فندق مكة </label>
              <div class="prog-photo-gal">

                <div class="item custom-control custom-radio  ">
                  <input id="first1" name="aa31" type="radio" class="custom-control-input" required="" checked>
                  <label class="custom-control-label" for="first1">
                    <img [src]="hotel.logo" alt="">
                    <span class="ttl">الصورة
                      الرئيسية للفندق</span>
                    <span class="ttl-hover">تعيين كصورة
                      رئيسية</span>
                  </label>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <section *ngIf="program.programPathID === 'madina'">
        <h3 class="text-primary"> الاقامة في المدينة </h3>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <label class="d-block col-form-label"> اسم الفندق </label>
              {{program.MHotelName}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> نجوم الفندق </label>
              {{program.MHotelStars}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> المسافة من الحرم </label>
              {{program.MDistanceFromHaram}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> مدة الاقامة </label>
              {{program.MHotelNights}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <label class="d-block col-form-label"> الوجبات المتوفرة في الفندق </label>
              <span *ngIf="program.MBreakfastAvailable">
                فطور
              </span>
              <span *ngIf="program.MLunchAvailable">
                غداء
              </span>
              <span *ngIf="program.MDinnerAvailable">
                عشاء
              </span>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="program.MBreakfastAvailable">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> هل الفطور مشمول مجانا في البرنامج ؟
              </label>
              <span *ngIf="program.MBreakfastAvailable">
                نعم
              </span>
              <span *ngIf="!program.MBreakfastAvailable">
                لا
              </span>
            </div>
          </div>
          <div class="col-md-4" *ngIf="program.MBreakfastDetails">
            <div class="form-group">
              <label class="d-block col-form-label"> تفاصيل وجبة الفطور </label>
              {{ program.MBreakfastDetails}}
            </div>
          </div>
          <div class="col-md-4" *ngIf="!program.MBreakfastIncluded">
            <div class="form-group ">
              <label class="d-block col-form-label"> سعر الفطور ( لليوم الواحد ) </label>
              {{program.MBreakfastPrice}}
            </div>
          </div>
        </div>
        <div class="row" *ngIf="program.MLunchAvailable">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> هل الغداء مشمول مجانا في البرنامج
              </label>
              <span *ngIf="program.MLunchIncluded">
                نعم
              </span>
              <span *ngIf="!program.MLunchIncluded">
                لا
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> تفاصيل وجبة الغداء </label>
              {{program.MLunchDetails}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> سعر الغداء ( لليوم الواحد ) </label>
              {{program.MLunchPrice}}
            </div>
          </div>
        </div>
        <div class="row" *ngIf="program.MDinnerAvailable">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> هل العشاء مشمول مجانا في البرنامج ؟
              </label>
              <span *ngIf="program.MDinnerIncluded">
                نعم
              </span>
              <span *ngIf="!program.MDinnerIncluded">
                لا
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> تفاصيل وجبة العشاء </label>
              {{program.MDinnerDetails}}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> سعر العشاء ( لليوم الواحد ) </label>
              {{program.MDinnerPrice}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- <div class="form-group ">
              <label class="d-block col-form-label"> صور فندق مكة </label>
              <div class="prog-photo-gal">

                <div class="item custom-control custom-radio  ">
                  <input id="first1" name="aa31" type="radio" class="custom-control-input" required="" checked>
                  <label class="custom-control-label" for="first1">
                    <img [src]="hotel.logo" alt="">
                    <span class="ttl">الصورة
                      الرئيسية للفندق</span>
                    <span class="ttl-hover">تعيين كصورة
                      رئيسية</span>
                  </label>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </section>

      <hr class="my-4 mx-n4">
      <section id="transportations">
        <h3 class="text-primary"> تذاكر السفر </h3>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <label class="d-block col-form-label"> هل تذاكر السفر مشمولة داخل البرنامج ؟
              </label>
              <span *ngIf="program.progAirTicketIncluded">
                نعم
              </span>
              <span *ngIf="!program.progAirTicketIncluded">
                لا
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> شركة الطيران </label>
              {{program.airlineNAme}}
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group ">
              <label class="d-block col-form-label"> وصف طريقة و تذاكر السفر </label>
              {{program.airlineDesc}}
            </div>
          </div>
        </div>
      </section>

      <hr class="my-4 mx-n4">
      <section>
        <h3 class="text-primary"> التنقل الداخلي </h3>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label">
                طريقة التنقل الداخلي
              </label>
              {{program.transportName}}
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label class="d-block col-form-label">
                وصف طريقة التنقل
              </label>
              {{program.programTransDetails}}
            </div>
          </div>
        </div>
      </section>

      <hr class="my-4 mx-n4">
      <section>
        <h3 class="text-primary"> تفاصيل الزيارات </h3>
        <div>
          <label>المزارات المشمولة في مكة </label>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.Hira">
                  غار حراء
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.MaccaMusieum">
                  متحف مكة
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.Thour">
                  جبل الطور
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.MoulaTomb">
                  مقبرة المعلاه
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.HaramenSharefen">
                  معرض عمارة الحرمين الشريفين
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.NourMountain">
                  جبل النور
                </label>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section *ngIf="program.programPathID == 'madina'">
        <h3 class="text-primary"> تفاصيل الزيارات </h3>
        <div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.Uhod">
                  جبل احد
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.MasjedZuElqeblaten">
                  مسجد القبلتين
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.Qebaa">
                  مسجد قباء
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.SevenMasjed">
                  المساجد السبعة
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.ElGenValley">
                  وادي الجن
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block col-form-label" *ngIf="program.PrinitHolyQuran">
                  مجمع الملك فهد لطباعة المصحف الشريف
                </label>
              </div>
            </div>
          </div>
        </div>
      </section>

      <hr class="my-4 mx-n4">
      <section id="packages">
        <a [routerLink]="['/profile/packages/', program.programID]">
          <h3 class="text-primary"> تفاصيل الباقات </h3>
        </a>
        <div class="table-responsive" *ngIf="program.packages">
          <table class="table table-bordered table-light table-striped">
            <thead>
              <tr>
                <th scope="col"> رقم الباقة </th>
                <th scope="col"> تاريخ الذهاب </th>
                <th scope="col"> تاريخ العودة </th>
                <th scope="col"> موسم العمرة </th>
                <th scope="col"> المسار </th>
                <th scope="col"> الحالة </th>
                <th scope="col" width="5%" class="text-center">عرض</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{program.packages.ID}} </td>
                <td>{{program.packages.packageDepartureDate}}</td>
                <td>{{program.packages.packageReturnDate}}</td>
                <td>{{program.packages.umrahSeasonName}} </td>
                <td>{{program.packages.directionName}}</td>
                <td><span class="badge badge-success">جديد</span></td>
                <td class="text-center">
                  <a [routerLink]="[]" class="view-action"
                    title="View item"><i class="fal fa-eye fa-fw fa-1x"></i>
                    <span class="d-none">View item</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <div class="btn-group mt-5">
        <!-- <a href="#delete" class="btn btn-default px-0" data-toggle="modal" data-target="#deleteitem"> حذف </a> -->
        <a class="btn btn-default px-0" [routerLink]="['/program/edit']"> رجوع </a>
        <div>
          <a [routerLink]="['/program/update', programId]" class="btn btn-outline-primary ml-3">تعديل</a>
          <a *ngIf="!program.programActive" class="btn btn-primary ml-3" (click)="publishProgram()"> نشر البرنامج </a>
          <a *ngIf="program.programActive" class="btn btn-primary ml-3" (click)="unPublishProgram()"> الغاء نشر البرنامج </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteitem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> هل انت متأكد من حذف هذا البرنامج ؟ </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="bg-light font-weight-bold p-3"> عمرة رمضان شركة الواحات للسياحة </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary mr-2" data-dismiss="modal">إلغاء</button>
        <button type="button" class="btn btn-danger " data-dismiss="modal"> تأكيد الحذف </button>
      </div>
    </div>
  </div>
</div>