<div class="wrapper">
  <!-- <header class="header">
    <div class="container ">
      <button class="con navbar-toggle" type="button">
        <div class="bar top"></div>
        <div class="bar middle"></div>
        <div class="bar bottom"></div>
      </button>
      <div class="d-flex header-inner ">
        <a class="logo" href="index.html">
          <h1 class="d-none"> زوار </h1>
          <img src="./assets/images/Logo.png" alt="Zowar">
        </a>
        <div class="main-nav py-4">
          <ul class="d-flex top-nav  p-0 m-0">
            <li>
              <a routerLink="/profile" class="d-block mr-3 ">
                <i class="fal fa-fw fa-file-alt mr-2 "></i>
                <span> حساب وكالة السفر</span>
              </a>
            </li>
            <li>
              <a routerLink="/profile/programs" class="d-block mr-3 ">
                <i class="fal fa-fw fa-cubes mr-2 "></i>
                <span> برامج العمرة </span>
              </a>
            </li>
          </ul>
          <ul class="d-flex side-nav p-0 m-0">
            <li class="dropdown">
              <a href="javascript:;" class="btn btn-outline-dark btn-sm mr-3 dropdown-toggle px-2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="pl-2">
                  SAR |
                  تونس
                  <img src="./assets/images/flags/tunis.svg" alt="tunis flag" class="d-none d-md-inline ml-2">
                </span>
                <i class="fal fa-fw fa-1x fa-angle-down"></i>
              </a>
              <div class="dropdown-menu ">
                <div class="d-flex form-group justify-content-between">
                  <label for="" class="w-50"> العملة </label>
                  <select class="form-control form-control-sm">
                    <option> ريال سعودي </option>
                    <option> دولار </option>
                    <option> يورو </option>
                    <option> يوان صيني </option>
                  </select>
                </div>
                <div class="d-flex form-group justify-content-between">
                  <label for="" class="w-50"> الدولة </label>
                  <select class="form-control form-control-sm">
                    <option> تونس </option>
                    <option> مصر </option>
                    <option> السودان </option>
                    <option> المغرب </option>
                  </select>
                </div>
                <div class="d-flex form-group justify-content-between">
                  <label for="" class="w-50"> اللغة </label>
                  <select class="form-control form-control-sm toggle-lang">
                    <option> Arabic </option>
                    <option> English </option>
                  </select>
                </div>
                <a href="javascript:;" class="btn btn-block btn-outline-primary btn-sm  px-2" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"> موافق </a>
              </div>
            </li>
            <li class="dropdown username">
              <a href="javascript:;" class="btn btn-outline-dark btn-sm mr-3 dropdown-toggle px-2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fal fa-fw fa-1x fa-user"></i>
                <span> {{user.userName}} </span>
                <i class="fal fa-fw fa-1x fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu p-0 m-0 ">
                <li class="p-2 small"><a href="login.html" class=""> ملف المستخدم </a></li>
                <li class="p-2 small"><a routerLink="/auth/logout" class="text-danger"> تسجيل الخروج</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header> -->


  <div class="page-layout" *ngIf="agency">
    <div class="container ">
      <nav aria-label="breadcrumb">
        <ol class="bg-transparent breadcrumb mb-2 p-0 small text-muted">
          <li class="breadcrumb-item"><a routerLink="/">الرئيسية</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ agency.tastatusID?.tastatusID == '4' ? 'حساب وكالة السفر ' : 'طلب تسجيل و كالة سفر' }} </li>
        </ol>
      </nav>
      <div class="page-title">
        <h1 class="h1 text-primary">
          {{ agency.tastatusID?.tastatusID == '4' ? 'حساب وكالة السفر ' : 'طلب تسجيل و كالة سفر' }} </h1>
      </div>
      <div class="bg-white shadows px-4 pb-4 border" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000"
        data-aos-delay="100">
        <div *ngIf="agency.tastatusID?.tastatusID == '2'"
          class="alert alert-danger align-items-center big-alert d-flex flex-column flex-md-row mb-3 mx-n4 p-4">
          <svg class="svg-inline--fa fa-file-exclamation fa-w-12 fa-4x fa-fw text-danger mr-0 mr-md-4"
            aria-hidden="true" focusable="false" data-prefix="fal" data-icon="file-exclamation" role="img"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg="">
            <path fill="currentColor"
              d="M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16zM180.7 192h22.6c6.9 0 12.4 5.8 12 12.7l-6.7 120c-.4 6.4-5.6 11.3-12 11.3h-9.3c-6.4 0-11.6-5-12-11.3l-6.7-120c-.3-6.9 5.2-12.7 12.1-12.7zM220 384c0 15.5-12.5 28-28 28s-28-12.5-28-28 12.5-28 28-28 28 12.5 28 28z">
            </path>
          </svg>
          <div>
            <h3 class="mb-3">طلبك يحتاج الى تحديث بعض البيانات</h3>
            <p class="text-muted m-0">
              يرجي تحديث بيانات الافرع حيث انه بالكشف عنها وجد ان بعض البيانات ناقصة وبعضها غير دقيقة - اللوجو الخاص
              بالوكالة غير واضح نرجو استبداله بملف آخر عالي الجودة
            </p>
          </div>
        </div>
        <ul class="border-bottom f-tabs mb-4  mx-n4 nav nav-tabs pb-1 sticky-top">
          <li class="nav-item" role="tablist">
            <a class="nav-link active" href="#essential">البيانات الاساسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#license">بيانات الترخيص</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#branches">بيانات التواصل والفروع </a>
          </li>
        </ul>
        <section id="essential" class="pt-5">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> اسم وكالة السفر </label>
                    <input type="text" readonly="" class="form-control-plaintext" [value]="agency.tAName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> الدولة </label>
                    <input type="text" readonly="" class="form-control-plaintext" [value]="agency.tADistrictID">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> تصنيف الوكالة </label>
                    <input type="text" readonly="" class="form-control-plaintext" [value]="agency.tAType">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> الموقع الالكتروني </label>
                    <input type="text" readonly="" class="form-control-plaintext" [value]="agency.tawebsite">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> رقم السجل التجاري </label>
                    <input type="text" readonly="" class="form-control-plaintext" [value]="agency.tACommeRegNo">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> ارفاق ملف السجل التجاري </label>
                    <a class="underline p-1 d-inline-block" [href]="agency.regFileUrl">
                      {{agency.tacommRegFile}}
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label  "> تاريخ انشاء السجل التجاري </label>
                    <input type="text" class="form-control-plaintext" [value]="agency.tACommRegIssueDate">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label  "> تاريخ انتهاء السجل التجاري </label>
                    <input type="text" class="form-control-plaintext" [value]="agency.tACommRegExpiryDate">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> نبذة عن وكالة السفر </label>
                    <textarea class="form-control-plaintext" rows="4">{{agency.tADescription}}</textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 mb-5 offset-lg-1">
              <div class="bg-white border flag-info overflow-hidden py-5 round">
                <span class="p-4 d-block">
                  <img [src]="agency.logoUrl" alt="company logo">
                </span>
              </div>
            </div>
          </div>
          <hr class="my-4 mx-n4">
          <h3 class="text-primary"> بيانات مالك / ملاك وكالة السفر </h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>اسم المالك</th>
                  <th>رقم الهوية</th>
                  <th> رقم الجوال</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let owner of agency.ownerList">
                  <td> {{owner.tAOwnerFullName}} </td>
                  <td> {{owner.tAOwnerNationalID}}</td>
                  <td> {{owner.tAOwnerPhoneNo}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <hr class="my-5 mx-n4">
        <section class="mt-5" id="license">
          <h3 class="text-primary"> ترخيص وزارة السياحة </h3>
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> رقم الترخيص </label>
                    <input type="text" class="form-control-plaintext" [value]="agency?.tAMinTourAuthNo">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> ملف الترخيص </label>
                    <a class="underline p-1 d-inline-block" [href]="agency?.tblTAAuthMembership?.tAMinTourAuthFileUrl">
                      {{agency?.tblTAAuthMembership?.tAMinTourAuthFile}} </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label  "> تاريخ انشاء الترخيص </label>
                    <input type="text" class="form-control-plaintext" [value]="agency?.tAMinTourAuthIssueDate">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label  "> تاريخ انتهاء الترخيص </label>
                    <input type="text" class="form-control-plaintext" [value]="agency?.tAMinTourAuthExpiryDate">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4 mx-n4">
          <h3 class="text-primary"> التسجيل في FTAV </h3>
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> رقم العضوية </label>
                    <input type="text" class="form-control-plaintext" [value]="agency?.tAFTAVMemberNo">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> ملف العضوية </label>
                    <a class="underline p-1 d-inline-block" [href]="agency?.tAFTAVMemberFileUrl">
                      {{agency?.tblTAAuthMembership?.tAFTAVMemberFile}}
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label  "> تاريخ انشاء العضوية </label>
                    <input type="text" class="form-control-plaintext" [value]="agency?.tAFTAVMemberIssueDate">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label  "> تاريخ انتهاء العضوية </label>
                    <input type="text" class="form-control-plaintext" [value]="agency?.tAFTAVMemberExpiryDate">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4 mx-n4">
          <h3 class="text-primary"> التسجيل في الجامعة التونسية لوكالات الأسفار والسياحة </h3>
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> رقم العضوية </label>
                    <input type="text" class="form-control-plaintext" [value]="agency?.tAFITTMemberNo">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label"> ملف العضوية </label>
                    <a class="underline p-1 d-inline-block" [href]="agency?.tAFITTMemberFileUrl">
                      {{agency?.tblTAAuthMembership?.tAFITTMemberFile}}
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label  "> تاريخ انشاء العضوية </label>
                    <input type="text" class="form-control-plaintext" [value]="agency?.tAFITTMemberIssueDate">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="d-block col-form-label  "> تاريخ انتهاء العضوية </label>
                    <input type="text" class="form-control-plaintext" [value]="agency?.tAFITTMemberExpiryDate">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr class="my-5 mx-n4">
        <section class="mt-5" id="branches">
          <div *ngIf="selectedBranch">
            <h3 class="text-primary"> بيانات التواصل </h3>
            <div class="row">
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label class="d-block col-form-label"> رقم الهاتف </label>
                      <input type="number" class="form-control-plaintext" [value]="agency.tABranchPhoneNo">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label class="d-block col-form-label"> رقم الجوال </label>
                      <input type="number" class="form-control-plaintext" [value]="agency.tABranchMobileNo">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label class="d-block col-form-label"> رقم الفاكس </label>
                      <input type="number" class="form-control-plaintext" [value]="agency.tABranchFaxNo">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group ">
                      <label class="d-block col-form-label"> البريد الالكتروني </label>
                      <input type="email" class="form-control-plaintext" [value]="agency.tABranchEmail">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4 mx-n4">
          </div>
          <h3 class="text-primary"> بيانات الفروع </h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>اسم الفرع</th>
                  <th>المدينة</th>
                  <th>العنوان</th>
                  <th>البريد الالكتروني</th>
                  <th>الاحداثيات</th>
                  <th>الجوال</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  style="cursor: pointer;">
                  <td>{{agency.tABranchName}}</td>
                  <td>{{agency.tADistrictID}}</td>
                  <td>{{agency.tABranchAddress}}</td>
                  <td>{{agency.tABranchEmail}}</td>
                  <td>{{agency.tABranchLatitude}} , {{agency.tABranchLongitude}}</td>
                  <td>{{agency.tABranchMobileNo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="branch-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104888.4757581263!2d10.663058829797!3d34.76151547712517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13002cda1486c695%3A0x22dfe0a62c50ce6f!2sSfax%2C%20Tunisia!5e0!3m2!1sen!2ssa!4v1570107555457!5m2!1sen!2ssa"
              width="100%" height="216" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </section>
        <div class="btn-group mt-5 justify-content-end">
          <div
            *ngIf="agency.tastatusID?.tastatusID == '1' || agency.tastatusID?.tastatusID == '2' || agency.tastatusID?.tastatusID == '3'">
            <a class="btn btn-outline-primary ml-3"> الغاء الطلب </a>
          </div>
          <div *ngIf="agency.tastatusID?.tastatusID == '2' || agency.tastatusID?.tastatusID == '3'">
            <a class="btn btn-outline-primary ml-3"> تعديل الطلب </a>
          </div>
          <div *ngIf="agency.tastatusID?.tastatusID == '4'">
            <a class="btn btn-primary ml-3"> تعديل البيانات </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer ">
    <div class="footer-top">
      <div class="container border-bottom">
        <div class="pr-lg-3 row">
          <div class="col-lg-8">
            <div class="d-flex justify-content-start align-items-center py-0 py-lg-4">
              <i class="fal  fa-5x fa-mobile text-primary"></i>
              <div class="ml-4">
                <h4 class=" display-3 my-3"> تطبيق زوار متوفر الآن في المتاجر الالكترونية لاندوريد وأبل </h4>
                <p class="text-light"> حمل التطبيق لتصلك كل التنبيهات الخاصة بعمليات حجزك وسفرك </p>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 py-3 py-lg-5 d-flex justify-content-around justify-content-lg-between px-2 px-lg-0 footer-apps">
            <a href="#android" class="d-inline-block "> <img src="./assets/images/android.png" class="round" width="180"
                alt="Android store"> </a>
            <a href="#ios" class="d-inline-block "> <img src="./assets/images/ios.png" class="round" width="180"
                alt="Apple store"> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-middle">
      <div class="container">
        <div class="pr-lg-3 row">
          <div
            class="align-items-center col-lg-8 d-flex flex-row justify-content-center justify-content-lg-start py-2 py-lg-0">
            <p class="d-inline-block my-3"> نوفر اشهر طرق الدفع </p>
            <ul class="d-flex flex-row justify-content-between payment-list px-3">
              <li>
                <span href="#" class="d-block p-4 px-3">
                  <img src="./assets/images/visa.svg" width="90" alt="Visa">
                  <span class="d-none">Visa</span>
                </span>
              </li>
              <li>
                <span href="#" class="d-block p-3 pr-3">
                  <img src="./assets/images/mastercard.svg" width="75" alt="mastercard">
                  <span class="d-none">mastercard</span>
                </span>
              </li>
              <li>
                <span class="d-block p-3">
                  <img src="./assets/images/american-express.svg" width="44" alt="american-express">
                  <span class="d-none">american-express</span>
                </span>
              </li>
            </ul>
          </div>
          <div
            class="align-items-center col-lg-4 d-flex flex-row justify-content-center justify-content-lg-between px-2 px-lg-0 py-2 py-lg-0">
            <p class="d-inline-block my-3 "> تواصل معنا </p>
            <ul class="social-media d-flex flex-row justify-content-between ml-5">
              <li>
                <a href="#twitter">
                  <i class="fab fa-fw fa-2x fa-twitter-square"></i>
                  <span class="d-none">twitter</span>
                </a>
              </li>
              <li>
                <a href="#facebook">
                  <i class="fab fa-fw fa-2x fa-facebook-square"></i>
                  <span class="d-none">Facebook</span>
                </a>
              </li>
              <li>
                <a href="#linkedin">
                  <i class="fa fa-fw fa-2x fa-linkedin-square"></i>
                  <span class="d-none">linkedin</span>
                </a>
              </li>
              <li>
                <a href="#youtube">
                  <i class="fab fa-fw fa-2x fa-youtube-square"></i>
                  <span class="d-none">youtube</span>
                </a>
              </li>
              <li>
                <a href="#instagram">
                  <i class="fab fa-fw fa-2x fa-instagram-square"></i>
                  <span class="d-none">instagram</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="pr-lg-3 row">
          <div class="col-md-7 col-lg-8">
            <ul class="footer-bottom-list  d-flex flex-row align-items-between">
              <li><a href="#" class="d-inline-block pr-3 pr-md-4 py-1 py-md-3"> عن عمــرة </a> </li>
              <li><a href="#" class="d-inline-block pr-3 pr-md-4 py-1 py-md-3"> أسئلة وأجوبة </a> </li>
              <li><a href="#" class="d-inline-block pr-3 pr-md-4 py-1 py-md-3"> الشروط والاحكام </a> </li>
              <li><a href="sitemap.html" class="d-inline-block pr-3 pr-md-4 py-1 py-md-3"> دليل المستخدم </a> </li>
            </ul>
          </div>
          <div
            class="col-md-5 col-lg-4 d-flex flex-row align-items-center justify-content-between  px-4 px-md-2 px-lg-0">
            <p class="copyrights  pr-4 py-3 m-0"> جميع الحقوق محفوظة © 2018 لشركة علم </p>
            <a href="https://www.elm.sa/ar/Pages/default.aspx" target="_blank">
              <img width="50" src="./assets/images/elm-logo.svg" alt="elm logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
