<div class="page-layout" dir="rtl">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="bg-transparent breadcrumb mb-2 p-0 small text-muted">
        <li class="breadcrumb-item"><a href="index.html">الرئيسية</a></li>
        <li class="breadcrumb-item">
          <a href="Search_results.html">برامج العمرة</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          إنشاء برنامج عمرة جديد
        </li>
      </ol>
    </nav>
    <div class="page-title">
      <h1 class="h1 text-primary">إنشاء برنامج عمرة جديد</h1>
    </div>
    <div class="page-inner overflow-hidden">
      <div class="border-bottom mb-4 mx-n4 px-4 pb-3">
        <div class="wizard-control">
          <ul class="d-flex justify-content-center flex-column flex-md-row">
            <li class="nav-item active">
              <a class="nav-link">
                <span class="wizard-tabs-number">1</span>
                <span class="wizard-tabs-title"> البيانات الاساسية </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <span class="wizard-tabs-number">2</span>
                <span class="wizard-tabs-title"> تفاصيل الاقامة </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <span class="wizard-tabs-number">3</span>
                <span class="wizard-tabs-title" i18n> تفاصيل التنقل </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <span class="wizard-tabs-number">4</span>
                <span class="wizard-tabs-title"> تفاصيل الزيارات </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <span class="wizard-tabs-number">5</span>
                <span class="wizard-tabs-title"> تأكيد البيانات </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="wizard-details">
        <section>
          <form [formGroup]="basicsForm" (ngSubmit)="createProgram()">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="d-block col-form-label"> اسم البرنامج </label>
                  <input type="text" formControlName="programName" class="form-control" />
                </div>
                <em *ngIf="basicsForm.get('programName').hasError('required') &&
                           basicsForm.get('programName').touched">
                  هذا الحقل اجباري
                </em>
                <em *ngIf="!basicsForm.get('programName').hasError('required')
                            && basicsForm.get('programName').hasError('maxlength')
                            && basicsForm.get('programName').touched">
                  حد اقصي 100 ارقام
                </em>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="d-block col-form-label">
                    ماهو مسار البرنامج
                  </label>
                  <div class="mt-2">
                    <div>
                      <div class="custom-control custom-radio d-inline-block">
                        <input type="radio" id="mecca" value="mecca" name="programPathID"
                          formControlName="programPathID" class="custom-control-input" />
                        <label class="custom-control-label" for="mecca">مكه</label>
                      </div>
                    </div>
                    <div>
                      <div class="custom-control custom-radio d-inline-block">
                        <input type="radio" id="madina" name="programPathID" value="madina"
                          formControlName="programPathID" class="custom-control-input" />
                        <label class="custom-control-label" for="madina">مكة و المدينة</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="d-block col-form-label"> عام العمرة </label>
                  <input type="text" class="form-control" formControlName="programUmrahYear" />
                </div>
                <em *ngIf="basicsForm.get('programUmrahYear').hasError('required') &&
                           basicsForm.get('programUmrahYear').touched">
                  اجباري
                </em>
                <em *ngIf="!basicsForm.get('programUmrahYear').hasError('required') &&
                            basicsForm.get('programUmrahYear').hasError('maxlength') &&
                            basicsForm.get('programUmrahYear').touched">
                  حد اقصي 4 ارقام
                </em>
                <em *ngIf="!basicsForm.get('programUmrahYear').hasError('required') &&
                           !basicsForm.get('programUmrahYear').hasError('maxlength') &&
                            basicsForm.get('programUmrahYear').hasError('pattern') &&
                            basicsForm.get('programUmrahYear').touched">
                  فقط ارقام و حروف
                </em>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label class="d-block col-form-label"> تصنيف البرنامج </label>
                  <select class="form-control" formControlName="programCategoryID">
                    <option *ngFor="let category of categories" [value]="category.id">
                      {{category.name}}
                    </option>
                  </select>
                  <em *ngIf="basicsForm.get('programCategoryID').hasError('required') &&
                             basicsForm.get('programCategoryID').touched">
                    اجباري
                  </em>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="d-block col-form-label">
                    سعر البرنامج (يبدأ من)
                  </label>
                  <div class="input-group">
                    <input type="text" class="form-control" type="text" formControlName="programPrice" />
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">ريـال
                      </span>
                    </div>
                  </div>
                  <em *ngIf="basicsForm.get('programPrice').hasError('required') &&
                             basicsForm.get('programPrice').touched">
                    اجباري
                  </em>
                  <em *ngIf="!basicsForm.get('programPrice').hasError('required') &&
                              basicsForm.get('programPrice').hasError('maxlength') &&
                              basicsForm.get('programPrice').touched">
                    حد اقصي 20 رقم
                  </em>
                  <em *ngIf="!basicsForm.get('programPrice').hasError('required') &&
                             !basicsForm.get('programPrice').hasError('maxlength') &&
                             basicsForm.get('programPrice').hasError('pattern') &&
                             basicsForm.get('programPrice').touched">
                    ارقام فقط
                  </em>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="d-block col-form-label"> وصف البرنامج </label>
                  <textarea class="form-control" rows="4" formControlName="programDesc">
                  </textarea>
                </div>
                <em *ngIf="basicsForm.get('programDesc').hasError('required') && basicsForm.get('programDesc').touched">
                  هذا الحقل اجباري</em>
                <em *ngIf="!basicsForm.get('programDesc').hasError('required') &&
                            basicsForm.get('programDesc').hasError('maxlength') &&
                             basicsForm.get('programDesc').touched">
                  حد اقصي 1000 حرف
                </em>
              </div>
            </div>
            <div class="btn-group mt-5">
              <a (click)="deleteBasic()" class="btn btn-default px-0" [routerLink]="['/profile/programs']">
                الغاء
              </a>
              <button *ngIf="!selectedBasic" class="btn btn-primary ml-3" [disabled]="!basicsForm.valid" type="submit">
                التالي
              </button>
              <button *ngIf="selectedBasic" (click)="updateBasic()" class="btn btn-secondary ml-3">
                تعديل
              </button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>