  <div class="wrapper">
    <div class="page-layout">
      <div class="container ">
        <nav aria-label="breadcrumb">
          <ol class="bg-transparent breadcrumb mb-2 p-0 small text-muted">
            <li class="breadcrumb-item"><a href="index.html">الرئيسية</a></li>
            <li class="breadcrumb-item"><a href="manage_package.html"> ادارة برامج العمرة</a></li>
          </ol>
        </nav>
        <div class="page-title bg-light d-flex justify-content-between align-items-center mb-4">
          <h1 class="h1 text-primary mb-4">
            ادارة برامج العمرة
            <a class="mx-2" data-toggle="collapse" href="#advSearch" (click)="resetForm()" role="button"
              aria-expanded="false" aria-controls="advSearch"> <i class="fal fa-fw  search-icon fa-search"></i></a>
          </h1>
          <a routerLink="/program/basics" class="btn btn-outline-primary btn-hover"> اضافة برنامج <i
              class="fal fa-plus fa-fw"></i></a>
        </div>

        <div class="adv-search collapse border p-4 mb-4" id="advSearch">
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> اسم البرنامج </label>
                <input type="text" class="form-control" ngDefaultControl name="programName" [(ngModel)]="programName">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> موسم العمرة </label>
                <select class="form-control" [(ngModel)]="programSeason" name="programSeason" ngDefaultControl
                  (change)="($event.target.value)">
                  <option *ngFor="let item of season">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> عام العمرة </label>
                <input type="text" class="form-control" ngDefaultControl name="programYear" [(ngModel)]="programYear">
              </div>
            </div>
          </div>

          <div class="page-inner" *ngIf="searchResult">
            <div class="table-responsive">
              <table class="table table-bordered table-light table-striped">
                <thead>
                  <tr>
                    <th scope="col"> رقم البرنامج </th>
                    <th scope="col"> اسم البرنامج </th>
                    <th scope="col"> تصنيف البرنامج </th>
                    <th scope="col"> المسار </th>
                    <th scope="col"> عام العمرة </th>
                    <th scope="col"> الحالة </th>
                    <th scope="col" width="5%" class="text-center">عرض</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let program of searchResult">
                    <td> {{program?.programId}} </td>
                    <td> {{program?.programName}} </td>
                    <td> {{program?.categoryName}} </td>
                    <td> {{program?.programPathID}} </td>
                    <td> {{program?.programUmrahYear}} </td>
                    <td>
                      <span *ngIf="program?.programActive" class="badge badge-sucess">
                        نشط
                      </span>
                      <span *ngIf="!program?.programActive" class="badge badge-light">
                        مجمد
                      </span>
                    </td>
                    <td class="text-center">
                      <a class="view-action" title="View item"><i class="fal fa-eye fa-fw fa-1x"></i>
                        <span class="d-none">View item</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="mt-2 text-right">
            <a (click)="findSingleProgram()" class="btn btn-block-mobile btn-primary">بحـــث</a>
          </div>
        </div>

        <div>

          <div *ngIf="!program"
            class="demo-1 align-items-center bg-light border  display-4 flex-column justify-content-center mb-5 p-5 round text-center text-muted">
            <i class="fal fa-fw fa-4x text-muted fa-users mb-4"></i>
            <p class="text-muted m-0">
              لم تقم باضفـــــــة برامج بعد
              <a [routerLink]="['/program/basics']" class="d-inline-block border-bottom" data-toggle="modal"
                data-target="#addbranch">
                اضافة برنامج جديد ؟ </a>
            </p>
          </div>

          <div class="page-inner">
            <div class="table-responsive">
              <table class="table table-bordered table-light table-striped">
                <thead>
                  <tr>
                    <th scope="col"> رقم البرنامج </th>
                    <th scope="col"> اسم البرنامج </th>
                    <th scope="col"> تصنيف البرنامج </th>
                    <th scope="col"> المسار </th>
                    <th scope="col"> عام العمرة </th>
                    <th scope="col"> الحالة </th>
                    <th scope="col" width="5%" class="text-center">
                      الباقات
                    </th>
                    <th scope="col" width="5%" class="text-center">عرض</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let program of programsList$ |  paginate: { itemsPerPage: 4, currentPage: page}">
                    <td> {{program.programId}} </td>
                    <td> {{program.programName}} </td>
                    <td> {{program.categoryName}} </td>
                    <td> {{program.programPathID}} </td>
                    <td> {{program.programUmrahYear}} </td>
                    <td>
                      <span *ngIf="program.programActive" class="badge badge-sucess">
                        نشط
                      </span>
                      <span *ngIf="!program.programActive" class="badge badge-light">
                        مجمد
                      </span>
                    </td>
                    <td class="text-center">
                      <a [routerLink]="['/profile/packages', program.programId]" class="view-action"
                        title="View item"><i class="fa fa-box-alt"></i>
                        <span class="d-none">View item</span>
                      </a>
                    </td>
                    <td class="text-center">
                      <a [routerLink]="['/program/view', program.programId]" class="view-action" title="View item"><i
                          class="fal fa-eye fa-fw fa-1x"></i>
                        <span class="d-none">View item</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="page = $event" maxSize="5"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>