.form-group {
  position: relative;
}

.email {
  position: absolute;
  top: 5.5rem;
}

.password {
  position: absolute;
  bottom: 12.4rem;
}

.Gmail,
.Facebook,
.github {
  font-size: 1.4rem;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .password {
    margin-bottom: 0.5rem;
  }
}
