<div class="page-layout">
  <div class="container ">
    <nav aria-label="breadcrumb">
      <ol class="bg-transparent breadcrumb mb-2 p-0 small text-muted">
        <li class="breadcrumb-item"><a href="index.html">الرئيسية</a></li>
        <li class="breadcrumb-item"><a href="Search_results.html">برامج العمرة </a></li>
      </ol>
    </nav>
    <form [formGroup]="programForm" novalidate (ngSubmit)="submit()">
      <h3> تعديل البرنامج</h3>
      <section>
        <div class="row" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="col-form-label">اسم البرنامج</label>
              <input type="text" class="form-control" formControlName="programName">
            </div>
            <em *ngIf="programForm.get('programName').hasError('required') && programForm.get('programName').touched">
              اجباري
            </em>
            <em *ngIf="!programForm.get('programName').hasError('required') &&
                        programForm.get('programName').hasError('maxlength')
                        && programForm.get('programName').touched">
              حداقصي 30 رقم
            </em>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="d-block col-form-label">
                ماهو مسار البرنامج
              </label>
              <div class="mt-2">
                <div>
                  <div class="custom-control custom-radio d-inline-block">
                    <input type="radio" id="mecca" value="mecca" name="programPathID" formControlName="programPathID"
                      class="custom-control-input" />
                    <label class="custom-control-label" for="mecca">مكه</label>
                  </div>
                </div>
                <div>
                  <div class="custom-control custom-radio d-inline-block">
                    <input type="radio" id="madina" name="programPathID" value="madina" formControlName="programPathID"
                      class="custom-control-input" />
                    <label class="custom-control-label" for="madina">مكة و المدينة</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
          <div class="col-md-4">
            <div class="form-group">
              <label class="d-block col-form-label">عام العمرة</label>
              <input type="text" class="form-control" formControlName="programUmrahYear" />
            </div>
            <em
              *ngIf="programForm.get('programUmrahYear').hasError('required') && programForm.get('programUmrahYear').touched">
              اجباري
            </em>
            <em *ngIf="!programForm.get('programUmrahYear').hasError('required')&& 
                        programForm.get('programUmrahYear').hasError('pattern') &&
                        programForm.get('programUmrahYear').touched">
              ارقام فقط
            </em>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="d-block col-form-label"> تصنيف البرنامج </label>
              <select type="text" class="form-control" formControlName="programCategoryID">
                <option *ngFor="let item of categories" [value]="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
            <em *ngIf="programForm.get('programCategoryID').hasError('required') &&
                       programForm.get('programCategoryID').touched">
              اجباري
            </em>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="d-block col-form-label">
                سعر البرنامج (يبدأ من)
              </label>
              <div class="input-group">
                <input type="text" class="form-control" type="text" formControlName="programPrice" />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">ريـال
                  </span>
                </div>
              </div>
              <em *ngIf="programForm.get('programPrice').hasError('required') &&
                         programForm.get('programPrice').touched">
                اجباري
              </em>
              <em *ngIf="!programForm.get('programPrice').hasError('required') &&
                          programForm.get('programPrice').hasError('pattern') &&
                          programForm.get('programPrice').touched">
                ارقام فقط
              </em>
            </div>
          </div>
        </div>
        <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
          <div class="col-md-12">
            <div class="form-group">
              <label class="d-block col-form-label"> وصف البرنامج </label>
              <textarea class="form-control" rows="4" formControlName="programDesc">
              </textarea>
            </div>
            <em *ngIf="programForm.get('programDesc').hasError('required') && 
                       programForm.get('programDesc').touched">
              اجباري
            </em>
            <em *ngIf="!programForm.get('programDesc').hasError('required') && 
                        programForm.get('programDesc').hasError('maxlength') &&
                       programForm.get('programDesc').touched">
              حداقصي 50 رقم
            </em>
          </div>
        </div>
      </section>

      <section>
        <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
          <div class="col-md-8">
            <div class="form-group">
              <label class="d-block col-form-label"> اسم الفندق </label>
              <input type="text" formControlName="hotelName" class="form-control">
            </div>
            <em *ngIf="programForm.get('hotelName').hasError('required') && 
                       programForm.get('hotelName').touched">
              اجباري
            </em>
            <em *ngIf="!programForm.get('hotelName').hasError('required') && 
                        programForm.get('hotelName').hasError('maxlength') &&
                        programForm.get('hotelName').touched">
              حداقصي 50 رقم
            </em>
          </div>
          <div class="col-md-4">
            <label class="d-block col-form-label">مدة الاقامة</label>
            <div class="input-group">
              <input type="text" formControlName="hotelNights" class="form-control">
              <div class="input-group-append">
                <span class="input-group-text">ايام</span>
              </div>
            </div>
            <em *ngIf="programForm.get('hotelNights').hasError('required') && 
                       programForm.get('hotelNights').touched">
              اجباري
            </em>
            <em *ngIf="!programForm.get('hotelNights').hasError('required') && 
                        programForm.get('hotelNights').hasError('pattern') &&
                        programForm.get('hotelNights').touched">
              ارقام فقط
            </em>
          </div>
        </div>
        <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
          <div class="col-md-4">
            <div class="form-group">
              <label class="d-block col-form-label"> المسافة من الحرم </label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="distanceFromHaram">
                <div class="input-group-append">
                  <span class="input-group-text">متــر</span>
                </div>
              </div>
            </div>
            <em *ngIf="programForm.get('distanceFromHaram').hasError('required') && 
                       programForm.get('distanceFromHaram').touched">
              اجباري
            </em>
            <em *ngIf="!programForm.get('distanceFromHaram').hasError('required') && 
                        programForm.get('distanceFromHaram').hasError('pattern') &&
                        programForm.get('distanceFromHaram').touched">
              ارقام فقط
            </em>
          </div>
          <div class="col-md-4">
            <label class="d-block col-form-label"> نجوم الفندق </label>
            <div class="form-group">
              <select type="text" class="form-control" formControlName="hotelStars">
                <option *ngFor="let item of hotelStars">
                  {{item.name}}
                </option>
              </select>
            </div>
            <em *ngIf="programForm.get('hotelStars').hasError('required') && 
                       programForm.get('hotelStars').touched">
              اجباري
            </em>
          </div>
        </div>

        <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
          <div class="col-md-12">
            <div class="form-group mb-5">
              <label class="d-block col-form-label"> الوجبات المتوفرة في الفندق </label>
              <div class="mt-2">
                <div class="custom-control custom-checkbox  d-inline-block ">
                  <label>
                    <input name="aa3" type="checkbox" formControlName="breakfastAvailable">
                    فطور
                  </label>
                </div>
                <div class="custom-control custom-checkbox  d-inline-block  mx-3">
                  <label>
                    <input name="aa3" type="checkbox" formControlName="lunchAvailable">
                    غداء
                  </label>
                </div>
                <div class="custom-control custom-checkbox  d-inline-block  mx-3">
                  <label>
                    <input name="aa3" type="checkbox" formControlName="dinnerAvailable">
                    عشاء
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> هل الفطور مشمول مجانا في البرنامج ؟
              </label>
              <div class="mt-2">
                <div class="custom-control custom-radio  d-inline-block ">
                  <input type="radio" id="yes1" [value]="true" (click)="breakfastIncluded()"
                    formControlName="breakfastIncluded">
                  <label for="yes1"> نعم مشمول </label>
                </div>
                <div class="custom-control custom-radio  d-inline-block  mx-3">
                  <input type="radio" id="no1" [value]="false" (click)="breakfastIncluded()"
                    formControlName="breakfastIncluded">
                  <label for="no1">
                    يجب دفع سعر الوجبة
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> تفاصيل وجبة الفطور (اختياري) </label>
              <input type="text" class="form-control" formControlName="breakfastDetails">
            </div>
            <em *ngIf="programForm.get('breakfastDetails').hasError('maxlength') &&
                       programForm.get('breakfastDetails').touched">
              حداقصي 50 رقم
            </em>
          </div>
          <div class="col-md-4" *ngIf="programForm.get('breakfastIncluded').value == false">
            <div class="form-group">
              <label class="d-block col-form-label"> سعر الفطور ( لليوم الواحد ) </label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="breakfastPrice">
                <div class="input-group-append">
                  <span class="input-group-text">ريال</span>
                </div>
              </div>
              <em *ngIf="programForm.get('breakfastPrice').hasError('pattern') &&
                         programForm.get('breakfastPrice').touched">
                ارقام فقط
              </em>
            </div>
          </div>
        </div>
        <div class="row mt-3" *ngIf="programForm.get('lunchAvailable').value" data-aos="fade-up" data-aos-offset="100"
          data-aos-duration="1000" data-aos-delay="100">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> هل الغداء مشمول مجانا في البرنامج ؟
              </label>
              <div class="mt-2">
                <div class="custom-control custom-radio  d-inline-block ">
                  <input type="radio" id="yes" [value]="true" name="lunchIncluded" formControlName="lunchIncluded">
                  <label for="yes"> نعم مشمول </label>
                </div>
                <div class="custom-control custom-radio  d-inline-block  mx-3">
                  <input type="radio" id="no" [value]="false" name="lunchIncluded" formControlName="lunchIncluded">
                  <label for="no"> يجب دفع سعر
                    الوجبة
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> تفاصيل وجبة الغداء (اختياري) </label>
              <input type="text" class="form-control" formControlName="lunchDetails">
            </div>
            <em *ngIf="programForm.get('lunchDetails').hasError('maxlength') &&
                       programForm.get('lunchDetails').touched">
              حداقصي 50 رقم
            </em>
          </div>
          <div class="col-md-4" *ngIf="programForm.get('lunchIncluded').value == false">
            <div class="form-group">
              <label class="d-block col-form-label"> سعر الغداء ( لليوم الواحد ) </label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="lunchPrice">
                <div class="input-group-append">
                  <span class="input-group-text">ريال</span>
                </div>
              </div>
            </div>
            <em *ngIf="programForm.get('lunchPrice').hasError('pattern') &&
                       programForm.get('lunchPrice').touched">
              ارقام فقط
            </em>
          </div>
        </div>
        <div class="row mt-3" *ngIf="programForm.get('dinnerAvailable').value" data-aos="fade-up" data-aos-offset="100">
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label">
                هل العشاء مشمول مجانا في البرنامج ؟
              </label>
              <div class="mt-2">
                <div class="custom-control custom-radio  d-inline-block">
                  <input type="radio" id="dinnerIncluded" [value]="true" name="dinnerIncluded"
                    formControlName="dinnerIncluded">
                  <label for="dinnerIncluded">نعم مشمول</label>
                </div>
                <div class="custom-control custom-radio  d-inline-block  mx-3">
                  <input type="radio" [value]="false" id="dinnerNotIncluded" name="dinnerIncluded"
                    formControlName="dinnerIncluded">
                  <label for="dinnerNotIncluded">يجب دفع سعر الوجبة
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label class="d-block col-form-label"> تفاصيل وجبة العشاء (اختياري) </label>
              <input type="text" class="form-control" formControlName="dinnerDetails">
            </div>
            <em *ngIf="programForm.get('dinnerDetails').hasError('maxlength') &&
                       programForm.get('dinnerDetails').touched">
              حداقصي 50 رقم
            </em>
          </div>
          <div class="col-md-4" *ngIf="programForm.get('dinnerIncluded').value == false">
            <div class="form-group ">
              <label class="d-block col-form-label"> سعر العشاء ( لليوم الواحد ) </label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="dinnerPrice">
                <div class="input-group-append">
                  <span class="input-group-text">ريال</span>
                </div>
              </div>
              <em *ngIf="programForm.get('dinnerPrice').hasError('pattern') &&
                         programForm.get('dinnerPrice').touched">
                ارقام فقط
              </em>
            </div>
          </div>
        </div>

        <div *ngIf="programForm.get('programPathID').value == 'madina'">
          <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
            <div class="col-md-8">
              <div class="form-group">
                <label class="d-block col-form-label"> اسم الفندق </label>
                <input type="text" formControlName="MHotelName" class="form-control">
              </div>
              <em *ngIf="programForm.get('MHotelName').hasError('required') &&
                         programForm.get('MHotelName').touched">
                اجباري
              </em>
            </div>
            <div class="col-md-4">
              <label class="d-block col-form-label">مدة الاقامة</label>
              <div class="input-group">
                <input type="text" formControlName="MHotelNights" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text">ايام</span>
                </div>
              </div>
              <em *ngIf="programForm.get('MHotelNights').hasError('required') &&
                         programForm.get('MHotelNights').touched">
                اجباري
              </em>
              <em *ngIf="!programForm.get('MHotelNights').hasError('required') &&
                          programForm.get('MHotelNights').hasError('pattern') &&
                          programForm.get('MHotelNights').touched">
                ارقام فقط
              </em>
            </div>
          </div>
          <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
            <div class="col-md-4">
              <div class="form-group">
                <label class="d-block col-form-label"> المسافة من الحرم </label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="MDistanceFromHaram">
                  <div class="input-group-append">
                    <span class="input-group-text">متــر</span>
                  </div>
                </div>
              </div>
              <em *ngIf="programForm.get('MDistanceFromHaram').hasError('required') &&
                         programForm.get('MDistanceFromHaram').touched">
                اجباري
              </em>
              <em *ngIf="!programForm.get('MDistanceFromHaram').hasError('required') && 
                          programForm.get('MDistanceFromHaram').hasError('pattern')">
                ارقام فقط
              </em>
            </div>
            <div class="col-md-4">
              <label class="d-block col-form-label"> نجوم الفندق </label>
              <div class="form-group">
                <select type="text" class="form-control" formControlName="MHotelStars">
                  <option **ngFor="let item of hotelStars">
                    {{item.name}}
                  </option>
                </select>
              </div>
              <em *ngIf="programForm.get('MHotelStars').hasError('required') && 
                          programForm.get('MHotelStars').touched">
                اجباري
              </em>
            </div>
          </div>

          <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
            <div class="col-md-12">
              <div class="form-group mb-5">
                <label class="d-block col-form-label"> الوجبات المتوفرة في الفندق </label>
                <div class="mt-2">
                  <div class="custom-control custom-checkbox  d-inline-block ">
                    <label>
                      <input name="aa3" type="checkbox" formControlName="MBreakfastAvailable">
                      فطور
                    </label>
                  </div>
                  <div class="custom-control custom-checkbox  d-inline-block  mx-3">
                    <label>
                      <input name="aa3" type="checkbox" formControlName="MLunchAvailable">
                      غداء
                    </label>
                  </div>
                  <div class="custom-control custom-checkbox  d-inline-block  mx-3">
                    <label>
                      <input name="aa3" type="checkbox" formControlName="MDinnerAvailable">
                      عشاء
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> هل الفطور مشمول مجانا في البرنامج ؟
                </label>
                <div class="mt-2">
                  <div class="custom-control custom-radio  d-inline-block ">
                    <input type="radio" id="yes2" [value]="true" formControlName="MBreakfastIncluded">
                    <label for="yes2"> نعم مشمول </label>
                  </div>
                  <div class="custom-control custom-radio  d-inline-block  mx-3">
                    <input type="radio" id="no2" [value]="false" formControlName="MBreakfastIncluded">
                    <label for="no2">
                      يجب دفع سعر الوجبة
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> تفاصيل وجبة الفطور (اختياري) </label>
                <input type="text" class="form-control" formControlName="MBreakfastDetails">
              </div>
              <em *ngIf="programForm.get('MBreakfastDetails').hasError('maxlength') &&
                         programForm.get('MBreakfastDetails').touched">
                اجباري
              </em>
            </div>
            <div class="col-md-4" *ngIf="programForm.get('MBreakfastIncluded').value == false">
              <div class="form-group">
                <label class="d-block col-form-label"> سعر الفطور ( لليوم الواحد ) </label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="MBreakfastPrice">
                  <div class="input-group-append">
                    <span class="input-group-text">ريال</span>
                  </div>
                </div>
              </div>
              <em *ngIf="programForm.get('MBreakfastPrice').hasError('pattern') && 
                         programForm.get('MBreakfastPrice').touched">
                ارقام فقط
              </em>
            </div>
          </div>
          <div class="row mt-3" *ngIf="programForm.get('MLunchAvailable').value" data-aos="fade-up"
            data-aos-offset="100" data-aos-duration="1000" data-aos-delay="100">
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> هل الغداء مشمول مجانا في البرنامج ؟
                </label>
                <div class="mt-2">
                  <div class="custom-control custom-radio  d-inline-block ">
                    <input type="radio" id="yes3" [value]="true" formControlName="MLunchIncluded">
                    <label for="yes3"> نعم مشمول </label>
                  </div>
                  <div class="custom-control custom-radio  d-inline-block  mx-3">
                    <input type="radio" id="no3" [value]="false" formControlName="MLunchIncluded">
                    <label for="no3"> يجب دفع سعر
                      الوجبة
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label"> تفاصيل وجبة الغداء (اختياري) </label>
                <input type="text" class="form-control" formControlName="MLunchDetails">
              </div>
              <em *ngIf="programForm.get('MLunchDetails').hasError('maxlength') &&
                         programForm.get('MLunchDetails').touched">
                اجباري
              </em>
            </div>
            <div class="col-md-4" *ngIf="programForm.get('MLunchIncluded').value == false">
              <div class="form-group">
                <label class="d-block col-form-label"> سعر الغداء ( لليوم الواحد ) </label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="MLunchPrice">
                  <div class="input-group-append">
                    <span class="input-group-text">ريال</span>
                  </div>
                </div>
              </div>
              <em *ngIf="programForm.get('MLunchPrice').hasError('pattern') &&
                         programForm.get('MLunchPrice').touched">
                ارقام فقط
              </em>
            </div>
          </div>
          <div class="row mt-3" *ngIf="programForm.get('MDinnerAvailable').value" data-aos="fade-up"
            data-aos-offset="100">
            <div class="col-md-4">
              <div class="form-group ">
                <label class="d-block col-form-label">
                  هل العشاء مشمول مجانا في البرنامج ؟
                </label>
                <div class="mt-2">
                  <div class="custom-control custom-radio  d-inline-block">
                    <input type="radio" id="DinnerIncluded" [value]="true" formControlName="MDinnerIncluded">
                    <label for="DinnerIncluded">نعم مشمول</label>
                  </div>
                  <div class="custom-control custom-radio  d-inline-block  mx-3">
                    <input type="radio" [value]="false" id="DinnerNotIncluded" formControlName="MDinnerIncluded">
                    <label for="DinnerNotIncluded">يجب دفع سعر الوجبة
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="d-block col-form-label"> تفاصيل وجبة العشاء (اختياري) </label>
                <input type="text" class="form-control" formControlName="MDinnerDetails">
              </div>
              <em *ngIf="programForm.get('MDinnerDetails').hasError('maxlength') &&
                         programForm.get('MDinnerDetails').touched">
                اجباري
              </em>
            </div>
            <div class="col-md-4" *ngIf="programForm.get('MDinnerIncluded').value == false">
              <div class="form-group ">
                <label class="d-block col-form-label"> سعر العشاء ( لليوم الواحد ) </label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="MDinnerPrice">
                  <div class="input-group-append">
                    <span class="input-group-text">ريال</span>
                  </div>
                </div>
              </div>
              <em *ngIf="programForm.get('MDinnerPrice').hasError('pattern') &&
                         programForm.get('MDinnerPrice').touched">
                ارقام فقط
              </em>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="row mt-3" data-aos-duration="1000" data-aos="fade-up" data-aos-offset="100">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="d-block col-form-label"> هل تذاكر السفر مشمولة داخل البرنامج ؟
                </label>
                <div class="mt-2">
                  <div class="custom-control custom-radio  d-inline-block ">
                    <input id="first1" type="radio" [value]="true" formControlName="progAirTicketIncluded"
                      class="custom-control-input">
                    <label class="custom-control-label" for="first1"> نعم مشمولة </label>
                  </div>
                  <div class="custom-control custom-radio  d-inline-block  mx-3">
                    <input id="second1" type="radio" [value]="false" formControlName="progAirTicketIncluded"
                      class="custom-control-input">
                    <label class="custom-control-label" for="second1"> لا ..تكلفة التذاكر
                      منفصلة
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1000">
          <div class="col-md-4">
            <div class="form-group">
              <label class="d-block col-form-label"> شركة الطيران </label>
              <select type="text" class="form-control" formControlName="airlineID">
                <option *ngFor="let item of airplane" [value]="item.id">
                  {{item.name}}
                </option>
              </select>
              <em *ngIf="programForm.get('airlineID').hasError('required') && 
                         programForm.get('airlineID').touched">
                اجباري
              </em>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label class="d-block col-form-label"> وصف طريقة و تذاكر السفر </label>
              <input type="text" class="form-control" formControlName="airlineDesc">
            </div>
            <em *ngIf="programForm.get('airlineDesc').hasError('required') && 
                       programForm.get('airlineDesc').touched">
              اجباري
            </em>
            <em *ngIf="!programForm.get('airlineDesc').hasError('required') && 
                        programForm.get('airlineDesc').hasError('maxlength') &&
                        programForm.get('airlineDesc').touched">
              حداقصي 50 رقم
            </em>
          </div>
        </div>

        <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="100">
          <div class="col-md-4">
            <div class="form-group">
              <label class="d-block col-form-label">
                طريقة التنقل
              </label>
              <select type="text" class="form-control" formControlName="internalTransportations">
                <option *ngFor="let item of transportationWay" [value]="item.id">
                  {{item.name}}
                </option>
              </select>
              <em *ngIf="programForm.get('internalTransportations').hasError('required') && 
                         programForm.get('internalTransportations').touched">
                اجباري
              </em>
            </div>
          </div>
          <div class="col-md-8">
            <label class="d-block col-form-label">
              وصف طريقة التنقل
            </label>
            <input type="text" class="form-control" formControlName="programTransDetails"
              placeholder="مثال : باص مكيف  شامل كل وسائل الراحة">
          </div>
          <em *ngIf="programForm.get('programTransDetails').hasError('required') && 
                     programForm.get('programTransDetails').touched">
            اجباري
          </em>
          <em *ngIf="!programForm.get('programTransDetails').hasError('required') && 
                      programForm.get('programTransDetails').hasError('maxlength') &&
                      programForm.get('programTransDetails').touched">
            حداقصي 50 رقم
          </em>
        </div>
      </section>


      <section>
        <div class="row mt-3" data-aos="fade-up" data-aos-offset="100" data-aos-duration="100">
          <div class="col-md-12">
            <div class="form-group mb-5">
              <label class="d-block col-form-label"> المزارات المشمولة في مكة </label>
              <div class="m-0 row">
                <div class="custom-control custom-checkbox  col-md-4 my-2">
                  <input id="first" name="aa3" type="checkbox" formControlName="Hira" class="custom-control-input"
                    required="">
                  <label class="custom-control-label" for="first"> غار حراء </label>
                </div>
                <div class="custom-control custom-checkbox  col-md-4 my-2 ">
                  <input id="second" name="aa3" type="checkbox" formControlName="MaccaMusieum"
                    class="custom-control-input" required="">
                  <label class="custom-control-label" for="second"> متحف مكة </label>
                </div>
                <div class="custom-control custom-checkbox  col-md-4 my-2 ">
                  <input id="third" name="aa3" type="checkbox" formControlName="Thour" class="custom-control-input"
                    required="">
                  <label class="custom-control-label" for="third"> غار ثور</label>
                </div>
                <div class="custom-control custom-checkbox  col-md-4 my-2">
                  <input id="first0" name="aa3" type="checkbox" formControlName="MoulaTomb" class="custom-control-input"
                    required="">
                  <label class="custom-control-label" for="first0"> مقبرة المعلاة </label>
                </div>
                <div class="custom-control custom-checkbox  col-md-4 my-2 ">
                  <input id="second0" name="aa3" type="checkbox" formControlName="NourMountain"
                    class="custom-control-input" required="">
                  <label class="custom-control-label" for="second0"> جبل النور </label>
                </div>
                <div class="custom-control custom-checkbox  col-md-4 my-2 ">
                  <input id="third0" name="aa3" type="checkbox" formControlName="HaramenSharefen"
                    class="custom-control-input" required="">
                  <label class="custom-control-label" for="third0"> معرض عمارة الحرمين الشريفين </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-offset="100" data-aos-duration="100">
          <div class="col-md-12">
            <div class="form-group mb-5">
              <label class="d-block col-form-label"> المزارات المشمولة في المدينة </label>
              <div class="m-0 row">
                <div class="custom-control custom-checkbox  col-md-4 my-2">
                  <input id="firstmadinah1" name="aa3d4" formControlName="Uhod" type="checkbox"
                    class="custom-control-input" required="">
                  <label class="custom-control-label" for="firstmadinah1"> جبل أحد </label>
                </div>
                <div class="custom-control custom-checkbox  col-md-4 my-2 ">
                  <input id="secondmadinah1" name="aa3d4" formControlName="MasjedZuElqeblaten" type="checkbox"
                    class="custom-control-input" required="">
                  <label class="custom-control-label" for="secondmadinah1"> مسجد ذى القبلتين </label>
                </div>
                <div class="custom-control custom-checkbox  col-md-4 my-2 ">
                  <input id="thirdmadinah1" name="aa3d4" type="checkbox" formControlName="Qebaa"
                    class="custom-control-input" required="">
                  <label class="custom-control-label" for="thirdmadinah1"> مسجد قباء </label>
                </div>
                <div class="custom-control custom-checkbox  col-md-4 my-2">
                  <input id="first0madinah1" name="aa3d4" formControlName="SevenMasjed" type="checkbox"
                    class="custom-control-input" required="">
                  <label class="custom-control-label" for="first0madinah1"> المساجد السبعة </label>
                </div>
                <div class="custom-control custom-checkbox  col-md-4 my-2 ">
                  <input id="second0madinah1" name="aa3d4" formControlName="PrinitHolyQuran" type="checkbox"
                    class="custom-control-input" required="">
                  <label class="custom-control-label" for="second0madinah1"> مجمع الملك فهد لطباعة المصحف الشريف
                  </label>
                </div>
                <div class="custom-control custom-checkbox  col-md-4 my-2 ">
                  <input id="third0madinah1" name="aa3d4" formControlName="ElGenValley" type="checkbox"
                    class="custom-control-input" required="">
                  <label class="custom-control-label" for="third0madinah1"> وادي الجن </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="row justify-content-between m-1">
        <button class="btn btn-secondary" [routerLink]="['/program/edit']">رجوع</button>
        <button class="btn btn-secondary" type="submit">تعديل</button>
      </div>
    </form>
  </div>
</div>