<div class="wrapper">
  <div class="login-layout">
    <div class="container ">
      <div class="login-box">
        <div class="mb-4"><img src="./assets/images/Logo.png" alt="Zowar"></div>
        <h1> تسجيل حساب </h1>
        <div class="form-group">
          <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <div class="form-group">
              <label class=" col-form-label">البريد الالكتروني </label>
              <input type="text" class="form-control" formControlName="email" placeholder="البريد الالكتروني">
              <em class="email"
                *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
                اجباري
              </em>
              <em class="email" *ngIf="!registerForm.get('email').hasError('required') &&
                          registerForm.get('email').hasError('email') &&
                          registerForm.get('email').touched">
                ادخل البريد الالكتروني بطريقه صحيحه
              </em>
            </div>
            <div class="form-group">
              <label class="col-form-label">كلمة المرور </label>
              <input type="password" class="form-control" formControlName="password" placeholder="كلمة المرور">
              <em class="password"
                *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
                اجباري
              </em>
              <em class="password-strength" *ngIf="!registerForm.get('password').hasError('required') &&
                          registerForm.get('password').hasError('password') &&
                          registerForm.get('password').touched">
                كلمة السر يجب ان تحتوى على حروف صغيرة و كبيرة و ارقام و علامات
              </em>
            </div>

            <div class="form-group">
              <label class="col-form-label"> التليفون </label>
              <input type="tel" class="form-control" formControlName="phoneNumber" placeholder="التليفون">
              <em class="phone"
                *ngIf="registerForm.get('phoneNumber').hasError('required') && registerForm.get('phoneNumber').touched">
                اجباري
              </em>
              <em class="phone" *ngIf="!registerForm.get('phoneNumber').hasError('required') &&
                        registerForm.get('phoneNumber').hasError('pattern') &&
                        registerForm.get('phoneNumber').touched">
                ارقام فقط
              </em>
            </div>

            <div class="form-group">
              <label class="col-form-label"> اسم المستخدم</label>
              <input type="text" class="form-control" formControlName="displayName" placeholder="اسم المستخدم">
              <em class="name"
                *ngIf="registerForm.get('displayName').hasError('required') && registerForm.get('displayName').touched">
                اجباري
              </em>
              <em class="phone" *ngIf="!registerForm.get('displayName').hasError('required') &&
                        registerForm.get('displayName').hasError('maxlength') &&
                        registerForm.get('displayName').touched">
                حد اقصي 20 حرف
              </em>
              <em class="phone" *ngIf="!registerForm.get('displayName').hasError('required') &&
                        !registerForm.get('displayName').hasError('maxlength') &&
                        registerForm.get('displayName').hasError('pattern') &&
                        registerForm.get('displayName').touched">
                حروف فقط
              </em>
            </div>
            <div class="my-3 d-flex justify-content-between align-items-center">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="xx">
                <label class="custom-control-label" for="xx">تذكرني</label>
              </div>
            </div>
            <div class="mt-3 d-flex justify-content-between">
              <input type="submit" value="تسجيل" [disabled]="!registerForm.valid" class="btn btn-primary btn-block" />
            </div>
            <div class="d-flex justify-content-between">
              <button [routerLink]="['/auth/login']" class="btn btn-secondary btn-block"> رجوع </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>