.form-group {
  position: relative;
}

.email, .password, .phone, .name, .password-strength {
  position: absolute;
}

.email {
  top: 5.5rem;
}

.password, .phone, .name {
  bottom: -1.4rem;
}

.password-strength {
  bottom: -2.7rem;
}